<section id="know-your-own-bone">
    <h2>know your own bone</h2>
    <div class="row">
        <div class="col-xs-6">
            <p>Each week, Chief Market Engagement Officer Colleen Dilenschneider shares data and analysis to inform
                the evolution of museums, zoos, aquariums, performing arts entities, and other visitor-serving
                organizations. Her aim? To help organizations optimize mission execution and financial
                sustainability.</p>
            <a href="/blog.html" class="button"><span>Visit The Blog</span></a>
        </div>
        <div class="col-xs-6">
            <div class="pinwheel pinwheel-2"></div>
            <div class="gf_browser_chrome gform_wrapper" id="gform_wrapper_19">
                <a id="gf_19" class="gform_anchor"></a>
                <form method="post" enctype="multipart/form-data" id="gform_19" action="/8874-2/#gf_19">
                    <div class="gform_heading">
                        <h3 class="gform_title">Nerd out with us every Wednesday!</h3>
                    </div>
                    <div class="gform_body">
                        <ul id="gform_fields_19"
                            class="gform_fields top_label form_sublabel_below description_below">
                            <li id="field_19_1"
                                class="gfield field_sublabel_below field_description_below gfield_visibility_visible">
                                <label class="gfield_label" for="input_19_1">Email</label>
                                <div class="ginput_container ginput_container_email">
                                    <input name="input_1" id="input_19_1" type="text" value="" class="medium"
                                           aria-invalid="false" placeholder="Enter Email Address">
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="gform_footer top_label">
                        <input type="submit" id="gform_submit_button_19" class="gform_button button"
                               value="Sign Up" onclick="if(window[&quot;gf_submitting_19&quot;]){return false;}
                                   window[&quot;gf_submitting_19&quot;]=true;  " aria-labelledby=""
                               onkeypress="if( event.keyCode == 13 ){ if(window[&quot;gf_submitting_19&quot;]){return false;} window[&quot;gf_submitting_19&quot;]=true;  jQuery(&quot;#gform_19&quot;).trigger(&quot;submit&quot;,[true]); }">
                        <input type="hidden" class="gform_hidden" name="is_submit_19" value="1">
                        <input type="hidden" class="gform_hidden" name="gform_submit" value="19">
                        <input type="hidden" class="gform_hidden" name="gform_unique_id" value="">
                        <input type="hidden" class="gform_hidden" name="state_19"
                               value="WyJbXSIsIjAwMGNlZjZjNTc2ZTM0YTRhNDM2NzMyNDUxNmUwNWI0Il0=">
                        <input type="hidden" class="gform_hidden" name="gform_target_page_number_19"
                               id="gform_target_page_number_19" value="0">
                        <input type="hidden" class="gform_hidden" name="gform_source_page_number_19"
                               id="gform_source_page_number_19" value="1">
                        <input type="hidden" name="gform_field_values" value="">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>