{{>_defs}}
<header class="header">
    <div class="header-inner">
        <div class="logo">
            <a href="/home.html">
                <p>Impacts Experience</p>
                <img src="../images/logo-beige.svg" alt="Impacts Logo" class="dark-bg">
                <img src="../images/logo-black.svg" alt="Impacts Logo" class="light-bg">
            </a>
        </div>
        {{#if error404}}
            <a href="/home.html" class="button home">
                <span><span class="mobile-hidden">Return</span> Home</span>
            </a>
        {{else}}
            <div id="topnav" aria-hidden="false">
                <div class="topnav-inner">
                    <button id="menu-close" class="button topnav-button tablet-mobile-only" aria-controls="topnav"
                            aria-expanded="true">Close
                    </button>
                    <ul>
                        <li class="{{#if about}}current-menu-item{{/if}}">
                            <a href="/about.html">About</a>
                        </li>
                        <li class="{{#if approach}}current-menu-item{{/if}}">
                            <a href="/approach.html">Our Approach</a>
                        </li>
                        <li class="{{#if services}}current-menu-item{{/if}}">
                            <a href="/services.html">Services</a>
                        </li>
                        <li class="{{#if resources}}current-menu-item{{/if}}">
                            <a href="/resources.html">Resources</a>
                        </li>
                        <li>
                            <a href="/contact.html" class="button"><span>Get In Touch</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <button id="menu-button" class="button topnav-button" aria-controls="topnav" aria-expanded="true">Menu</button>
        {{/if}}
    </div>
</header>