//
// Name:            Animations
//
// Description:     Contains all animation styles
//

// ========================================================================
// Component: Animations
// ========================================================================
@keyframes rotate {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }

  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}
