//
// Name:            Base
//
// Description:     Contains all base styles, including basic resets
//
// ========================================================================
// Component
// ========================================================================
body {
  font-family: 'DMSans', sans-serif;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 32px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  @media screen and (max-width: 768px) {
    font-size: 16px;
    line-height: 26px;
  }

  &.dark-bg {
    background: $color-black;
    color: $impact-beige;
  }

  &.light-bg {
    background: $impact-beige;
    color: $color-black;
  }
}

// Heading styles
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1 {
  font-size: 120px;
  letter-spacing: 0;
  line-height: 123px;
  @media only screen and (max-width: 1024px) {
    font-size: 60px;
    line-height: 62px;
  }

  @media (max-width: 581px) {
    font-size: 70px;
    line-height: 65px;
  }
}

h2 {
  font-size: 72px;
  letter-spacing: 0;
  line-height: 80px;
  @media only screen and (max-width: 1024px) {
    font-size: 50px;
    line-height: 52px;
  }
}

h3 {
  font-size: 32px;
  letter-spacing: 0;
  line-height: 40px;
  @media only screen and (max-width: 1024px) {
    font-size: 28px;
    line-height: 40px;
  }
  @media (max-width: 581px) {
    font-size: 20px;
    line-height: 32px;
  }
}

h4 {
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
  @media only screen and (max-width: 1024px) {
    font-size: 20px;
    line-height: 32px;
  }
}
