//
// Name:            Buttons
//
// Description:     Contains all button styles
//
// ========================================================================
// Component
// ========================================================================
.button {
  min-width: 180px;
  border: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 32px;
  overflow: hidden;
  padding: 14px 23px;
  position: relative;
  text-align: center;
  text-transform: uppercase;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity .1s ease-in-out;
    z-index: -1;
  }

  &:after {
    width: 24px;
    height: 24px;
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(48px, 48px) rotate(45deg) scale(40);
    transform-origin: top left;
    transition: bottom .5s;
    z-index: -1;
  }

  &:hover {
    &:after {
      bottom: 900%;
      transition-timing-function: ease-in-out;
    }
  }

  &:focus {
    overflow: visible;

    &:before {
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      top: -2px;
      left: -2px;
      z-index: -1;
      transition: opacity .1s ease-in-out;
    }

    &:after {
      width: calc(100% + 8px);
      height: calc(100% + 8px);
      top: -4px;
      bottom: auto;
      left: -4px;
      right: auto;
      z-index: -2;
      transform: none;
      transition: opacity .1s ease-in-out;
    }
  }

  span {
    display: inline-block;
    font-weight: bold;
    position: relative;
    z-index: 5;
  }
}

body.dark-bg {
  .button {
    background: transparent;
    color: $color-black;

    &:before {
      background: $impact-beige;
    }

    &:after {
      background: $impact-orange-light;
    }

    @media (hover: hover) and (pointer: fine) {
      &:focus {
        background: $impact-beige;

        &:before,
        &:after {
          opacity: 1;
        }

        &:before {
          background: $color-black;
        }

        span:not(.mobile-hidden) {
          border-bottom: 2px solid $color-black;
        }
      }
    }
  }
}

body.light-bg {
  .button {
    background: transparent;
    color: $color-white;

    &:before {
      background: $impact-blue-dark;
    }

    &:after {
      background: $impact-blue;
    }

    @media (hover: hover) and (pointer: fine) {
      &:focus {
        background: $impact-blue-dark;

        &:before,
        &:after {
          opacity: 1;
        }

        &:before {
          background: $impact-beige;
        }

        span:not(.mobile-hidden) {
          border-bottom: 2px solid $color-white;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .button {
    font-size: 14px;
    letter-spacing: 1.75px;
    line-height: 28px;
    padding: 15px 23px;
  }
}

@media (max-width: 581px) {
  .button {
    width: 100%;
    padding: 16px 10px;
  }
}
