//
// Name:            Forms
//
// Description:     Contains all form styles
//
// ========================================================================
// Component: Form
// ========================================================================
.form-wrapper {
  margin: 20px auto;
  padding: 40px 0;
  text-align: left;
  h1 {
    margin: 0 0 20px 0;
  }
}

optgroup {
  font: inherit;
  font-weight: bold;
}

input {
  // Removes inner padding and border in Firefox 4+.
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

input {
  // Remove inner padding and search cancel button in Chrome, Safari and Opera on OS X.
  &[type="search"] {
    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration {
    }
  }
  // Remove button on `.number` input
  &[type="number"] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
      margin: 0;
    }
  }

  &:-ms-input-placeholder {
    opacity: 1;
    color: $color-black;
  }

  &::-moz-placeholder {
    opacity: 1;
    color: $color-black;
  }

  &::-webkit-input-placeholder {
    opacity: 1;
    color: $color-black;
  }

  &:disabled {
    &:-ms-input-placeholder {
    }
    &::-moz-placeholder {
    }
    &::-webkit-input-placeholder {
    }
  }
}

// Define consistent border, margin, and padding.
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

// Removes `.box-shadow` for invalid controls in Firefox.
:invalid {
  box-shadow: none;
}

::-ms-clear {
  display: none;
}

// Style
// ========================================================================
// Remove margin from the last-child
form > {
  :last-child {
    margin-bottom: 0;
  }
}

// Controls
// Expand width to container of [class*="col-"]
select,
textarea,
input:not([type]),
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  width: 100%;
  [class*="col-"] > & {
    width: 100%;
    display: block;
  }
}

input {
  &[type="checkbox"],
  &[type="radio"] {
    width: auto;
    display: inline-block;
  }
}

// Reset height
// Must be after size modifiers
// ========================================================================
textarea,
select[multiple],
select[size] {
  height: auto;
}

// Sub-objects: `.label`
// ========================================================================
label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.gform_fields {
  &,
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    position: relative;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  > li {
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;

    &:last-child {
      margin-bottom: 0;
    }

    + li {
    }
    > label {
    }
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  background: $impact-blue;
  border: 2px solid $impact-blue;
  border-radius: 0 28px 28px 28px;
  color: $color-white;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 32px;
  padding: 12px 28px;

  &::placeholder {
    color: $color-white;
  }

  &:focus {
    outline: none;
  }
}

textarea {
  height: 250px;
  resize: none;
}

.gfield_error {
  position: relative;
  &:before {
    content: '';
    width: 10px;
    height: 10px;
    background: $impact-orange-dark;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
  }

  .validation_message {
    font-size: 14px;
    color: $impact-orange-dark;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: 10px;
  }
}

.gform_footer {
  min-width: 180px;
  display: inline-block;
  margin-top: 70px;
  overflow: hidden;
  position: relative;
  text-align: center;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity .1s ease-in-out;
  }

  &:after {
    width: 24px;
    height: 24px;
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(48px, 48px) rotate(45deg) scale(40);
    transform-origin: top left;
    transition: bottom .5s;
    z-index: -1;
  }

  input[type="submit"] {
    width: 100%;
    min-width: 0;
    border-bottom: 2px solid transparent;
    font-family: 'DMSans', sans-serif;
    margin-top: 0!important;
    padding: 14px 23px;
  }

  &.hover {
    &:after {
      bottom: 400px;
      transition-timing-function: ease-in-out;
    }
  }

  &.focus {
    overflow: visible;
    padding: 14px 23px;

    &:before,
    &:after {
      opacity: 1;
    }

    &:before {
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      top: -2px;
      left: -2px;
      transition: opacity .1s ease-in-out;
    }

    &:after {
      width: calc(100% + 8px);
      height: calc(100% + 8px);
      top: -4px;
      bottom: auto;
      left: -4px;
      right: auto;
      z-index: -2;
      transform: none;
      transition: opacity .1s ease-in-out;
    }

    input[type="submit"] {
      width: auto;
      padding: 0;
    }
  }
}

body.dark-bg {
  label {
    color: $impact-beige;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    &:hover,
    &:focus,
    &.active {
      border: 2px solid $color-white;
    }
  }

  .gform_footer {
    &:before {
      background: $impact-beige;
    }

    &:after {
      background: $impact-orange-light;
    }

    &.focus {
      background: $impact-beige;

      &:before {
        background: $color-black;
      }

      input[type="submit"]{
        background: $impact-beige;
        border-color: $color-black;
      }
    }
  }
}

body.light-bg {
  label {
    color: $impact-blue-dark;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    &:hover,
    &:focus,
    &.active  {
      border: 2px solid $color-black;
    }
  }

  .gform_footer {
    &:before {
      background: $impact-blue-dark;
    }

    &:after {
      background: $impact-blue;
    }

    &.focus {
      background: $impact-blue-dark;

      &:before {
        background: $impact-beige;
      }

      input[type="submit"]{
        background: $impact-blue-dark;
        border-color: $impact-beige;
      }
    }
  }
}

@media (max-width: 768px) {
  input[type="text"], input[type="email"], input[type="password"], textarea {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 581px) {
  .gform_fields > li {
    margin-bottom: 30px;
  }

  textarea {
    height: 150px;
  }

  .gform_footer {
    width: 100%;
    margin-top: 60px;

    input[type="submit"] {
      width: 100%;
    }
  }
}
