//
// Name:            404
//
// Description:     Contains all style definitions concerning basic
//					structure and layout
//
// ========================================================================
// Component: 404 Page
// ========================================================================
.error404 {
  max-width: 100vw;

  .main {
    overflow: hidden;
    padding-top: 0;
    margin-top: 180px;
  }

  #error {
    width: 100vw;
    height: 85vh;

    .text-cnt {
      display: inline-block;
      position: relative;
      top: 66%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;

      p {
        background: $color-black;
        border: 2px solid $impact-beige;
        display: inline-block;
        font-size: 32px;
        line-height: 40px;
        padding: 16px 74px;
        border-radius: 100px 180px 0 100px;
      }
    }

    .numbers {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 70px;
      left: 0;
      z-index: 0;

      .numbers-inner {
        width: 100%;
        height: 100%;
        position: relative;
      }

      .text-row {
        display: inline-flex;
        flex-shrink: 0;
        margin-bottom: 10.5vw;
        position: relative;
        left: 50%;
        transform: translateX(-49%);

        &:last-child {
          margin-bottom: 0;
        }

        .number {
          margin-right: 13.7vw;
          position: relative;

          span {
            position: absolute;
          }
        }

        p {
          //font-size: 300px;
          font-size: 16.6rem;
          line-height: 100%;
          margin-top: 0;

          &:last-child {
            margin-right: 0;
          }
        }

        &:nth-child(odd) {
          .number {
            &:nth-child(3n + 1) {
              color: $impact-peach;
              z-index: 1;

              span {
                top: 50%;
                bottom: auto;
                transform: translateY(-50%);
                &:nth-child(2) {
                  width: 18px;
                  height: 49px;
                  background: $impact-blue-dark;
                  border-radius: 9px;
                  right: 60%;
                }

                &:nth-child(3) {
                  width: 65px;
                  height: 116px;
                  background: $impact-orange-dark;
                  border-bottom-right-radius: 65px;
                  right: calc(30% + 32px);
                }

                &:nth-child(4) {
                  width: 49px;
                  height: 49px;
                  background: url('../images/404-blue-circle.svg') 50% no-repeat;
                  background-size: contain;
                  right: -49px;
                }
              }
            }

            &:nth-child(3n + 2) {
              color: $impact-orange-light;
              z-index: 1;

              span {
                top: 50%;
                bottom: auto;
                transform: translateY(-50%);

                &:nth-child(2) {
                  width: 49px;
                  height: 49px;
                  border: 2px solid $impact-peach;
                  border-radius: 50%;
                  left: -24.5px;
                }

                &.pinwheel {
                  left: 30%;
                }

                &:nth-child(4) {
                  width: 18px;
                  height: 49px;
                  background: $impact-peach;
                  border-radius: 9px;
                  left: calc(60% + 55px);
                  transition: background .25s ease-in-out;

                  &.switch {
                    background: $impact-orange-dark;
                  }
                }
              }
            }

            &:nth-child(3n + 3) {
              color: $impact-orange-dark;
              z-index: 0;

              span {
                top: 50%;
                bottom: auto;
                transform: translateY(-50%);

                &.plot-graph {
                  width: 39vw;
                  height: auto;
                  top: 58%;
                  left: -37vw;

                  svg {
                    width: 100%;
                    height: auto;
                    overflow: visible;
                  }
                }

                &:nth-child(3) {
                  width: 68px;
                  height: 60px;
                  display: flex;
                  left: -28%;

                  &:before,
                  &:after {
                    content: '';
                    width: 50%;
                    height: 100%;
                    background: $impact-beige;
                    border-top-left-radius: 34px;
                    border-top-right-radius: 34px;
                    margin-left: -1px;
                    transition: background .25s ease-in-out;
                  }

                  &.switch {
                    &:before,
                    &:after {
                      background: $impact-orange-light;
                    }
                  }
                }
              }
            }
          }
        }

        &:nth-child(even) {
          .number {
            &:nth-child(3n + 1) {
              color: $impact-blue;
            }

            &:nth-child(3n + 2) {
              color: $impact-blue-dark;
            }

            &:nth-child(3n + 3) {
              color: $impact-beige;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .error404 #error .numbers .text-row p {
    font-size: 12rem;
  }
}

@media (max-width: 581px) {
  .error404 header.header .button {
    width: auto;
  }

  .error404 .main {
    margin-top: 110px;
  }

  .error404 #error .text-cnt p {
    font-size: 21px;
    line-height: 32px;
    padding: 10px 22px;
  }

  .error404 #error .numbers .text-row p {
    font-size: 90px;
  }

  .error404 #error .numbers .text-row:nth-child(odd) .number:nth-child(3n + 1) span:nth-child(4) {
    width: 24.5px;
    height: 24.5px;
    right: -24.5px;
  }

  .error404 #error .numbers .text-row:nth-child(odd) .number:nth-child(3n + 2) span:nth-child(2) {
    width: 24.5px;
    height: 24.5px;
    left: -12.25px;
  }

  .error404 #error .numbers .text-row:nth-child(odd) .number:nth-child(3n + 2) span.pinwheel {
    width: 50px;
    height: 50px;
  }

  .error404 #error .numbers .text-row:nth-child(odd) .number:nth-child(3n + 2) span:nth-child(4) {
    width: 10px;
    height: 30px;
  }

  .error404 #error .numbers .text-row:nth-child(odd) .number:nth-child(3n + 3) span:nth-child(3) {
    width: 34px;
    height: 30px;
  }
}