//
// Name:            About
//
// Description:     Contains all style definitions concerning basic
//					structure and layout
//
// ========================================================================
// Component: About Page
// ========================================================================
.page-template-template-about {
  #banner {
    padding: 0 10.3vw;

    h1 {
      color: $impact-blue-dark;
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
    }

    .primary-text {
      color: #111111;
      font-size: 65px;
      line-height: 80px;
      margin-top: 13px;
    }

    .row {
      border-left: 1px solid $impact-peach;
      margin-top: 130px;
      padding-bottom: 18.1vw;
      padding-left: 6.9vw;
    }

    .col-xs-6 {
      &:first-child {
        padding-right: 2.5vw;
      }

      &:last-child {
        padding-left: 2.5vw;
      }
    }
  }

  #the-story {
    background-image: linear-gradient(to right, rgba($impact-blue, .15) 1px, transparent 1px), linear-gradient(to bottom, rgba($impact-blue, .15) 1px, transparent 1px);
    background-position: -1px 10px;
    background-size: 28px 28px;
    border-bottom: 1px solid $impact-peach;
    border-left: 1px solid $impact-peach;
    margin-left: 10.3vw;
    padding: 10.8vw 16.8vw 10.8vw 7.7vw;

    .row {
      margin-top: 125px;
    }

    .col-xs-9 {
      padding-left: 3.2vw;
    }
  }

  .testimonial-section {
    max-width: 1113px;
    display: flex;
    margin-top: 145px;
    position: relative;

    &.right {
      margin-left: 22.8vw;

      .bg {
        .col-xs-4 {
          &:nth-child(3) {
            border-top-left-radius: 13.15vw;
            border-top-right-radius: 13.15vw;
          }
        }
      }

      .image-container {
        transform: translateX(-50%);
      }

      .text-cnt {
        padding-right: 10.5vw;
      }
    }

    &.left {
      margin-right: 22.8vw;

      .bg {
        .col-xs-4 {
          &:nth-child(1) {
            border-top-left-radius: 13.15vw;
            border-top-right-radius: 13.15vw;
          }
        }
      }

      .image-container {
        transform: translateX(50%);
      }

      .text-cnt {
        padding-left: 10.5vw;
      }
    }

    .bg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      .bg-inner {
        width: 100%;
        height: 100%;
        flex-wrap: nowrap;
        position: relative;
      }

      .col-xs-4 {
        width: calc(33.33% + 3px);
        max-width: calc(33.33% + 3px);
        flex-basis: calc(33.33% + 3px);
        height: 100%;
        background: $color-black;
        margin-left: -2px;

        &:nth-child(2) {
          border-top-left-radius: 13.15vw;
          border-top-right-radius: 13.15vw;
        }
      }
    }

    .image-container {
      width: 26.3vw;
      max-width: 379px;
      height: 26.3vw;
      max-height: 379px;
      border-radius: 50%;
      flex-shrink: 0;
    }

    .text-cnt {
      padding: 17.8vw 0 90px 0;

      h2 {
        border-bottom: 2px solid $impact-blue-dark;
        color: $impact-beige;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 24px;
        margin-bottom: 45px;
        padding-bottom: 20px;
      }

      p {
        font-size: 24px;
        color: $impact-beige;
        line-height: 32px;
      }

      .button {
        background: transparent;
        color: $color-black;
        margin-top: 100px;

        &:before {
          background: $impact-beige;
        }

        &:after {
          background: $impact-orange-light;
        }

        @media (hover: hover) and (pointer: fine) {
          &:focus {
            background: $impact-beige;

            &:before,
            &:after {
              opacity: 1;
            }

            &:before {
              background: $color-black;
            }

            span {
              border-bottom: 2px solid $color-black;
            }
          }
        }
      }
    }
  }

  #meet-the-team {
    padding: 200px 10.3vw 0;

    h2 {
      margin-bottom: 145px;
    }

    .row {
      margin-bottom: 95px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .col-xs-6 {
      &:first-child {
        padding-right: 5.8vw;
      }

      &:last-child {
        padding-left: 6vw;
      }

      .image {
        display: flex;
        position: relative;

        .image-container {
          margin: 0 auto;
          overflow: hidden;
        }

        img {
          min-width: 100%;
          min-height: 100%;
          object-fit: cover;
        }
      }

      &.shape-1 {
        .image {
          .image-container {
            width: 33.8vw;
            height: 23.5vw;
            border-top-left-radius: 11.75vw;
            border-bottom-left-radius: 11.75vw;
          }
        }

        .pinwheel {
          left: 100%;
          bottom: 0;
          transform: translate(-50%, 50%);
        }
      }

      &.shape-2 {
        .image {
          .image-container {
            width: 23.5vw;
            height: 33.8vw;
            border-top-left-radius: 11.75vw;
            border-top-right-radius: 11.75vw;
          }

          .plot-graph {
            width: 36.5vw;
            height: auto;
            position: absolute;
            bottom: -3.2vw;
            left: -3.6vw;

            svg {
              width: 100%;
              height: auto;
              overflow: visible;

              circle {
                transition: transform .25s ease-in-out;

                @for $i from 1 to 30 {
                  &:nth-child(#{$i}) {
                    &.moved {
                      transform: translate(random(20) + 10 + px, random(20) + 10 + px);
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.shape-3 {
        .image {
          .image-container {
            width: 28.3vw;
            height: 28.3vw;
            border-radius: 50%;
          }

          .blue-circle {
            width: 28.3vw;
            height: 28.3vw;
            background: $impact-blue;
            border-radius: 50%;
            display: inline-block;
            position: absolute;
            top: 1.875vw;
            left: 50%;
            transform: translateX(-50%) rotate(0deg);
            transform-origin: 50% calc(50% - 1.875vw);
            z-index: -1;
          }
        }
      }

      h3 {
        color: $impact-blue-dark;
        margin-bottom: 10px;
      }

      .title {
        font-size: 24px;
        line-height: 32px;
        margin-top: 0;
        margin-bottom: 60px;
      }

      .bio {
        color: $impact-blue-dark;

        p {
          font-size: 16px;
          line-height: 30px;
        }
      }
    }
  }

  #careers {
    padding: 15.8vw 10.3vw 0;
    position: relative;

    .diagonal-line {
      width: 1px;
      height: 120.75vw;
      background: $impact-peach;
      position: absolute;
      top: 26vw;
      right: 0;
      transform: rotate(67deg);
      transform-origin: 0 0;
    }

    .row {
      position: relative;
      z-index: 1;
    }

    .col-xs-6 {
      &:first-child {
        padding-right: 5vw;
      }

      &:last-child {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        -ms-flex-align: end;
      }
    }

    h2 {
      margin-bottom: 60px;
    }

    p {
      margin-top: 0;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .image-container {
      width: 38.4vw;
      margin-left: auto;
      overflow: hidden;

      &:first-child {
        height: 38.4vw;
        border-radius: 50%;
        margin-bottom: 60px;
      }

      &:last-child {
        height: 26.7vw;
        border-top-left-radius: 19.2vw;
        border-bottom-left-radius: 19.2vw;
      }

      img {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 1024px) {
  .page-template-template-about #banner {
    padding: 0 5.2vw;
  }

  .page-template-template-about #banner .primary-text {
    font-size: 45px;
    line-height: 53px;
  }

  .page-template-template-about #banner .row {
    border-left: none;
    margin-top: 44px;
    padding-bottom: 4vw;
    padding-left: 0;
  }

  .page-template-template-about #the-story {
    margin-left: 5.2vw;
    padding: 19vw 5.2vw 11.1vw 11.1vw;
  }

  .page-template-template-about #the-story .row {
    margin-top: 60px;
  }

  .page-template-template-about #the-story .col-xs-9.col-xs-offset-3 {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
    margin-left: 0;
    padding-left: 0;
  }

  .page-template-template-about .testimonial-section.right {
    margin-left: 19vw;
  }

  .page-template-template-about .testimonial-section.left {
    margin-right: 19vw;
  }

  .page-template-template-about .testimonial-section .image-container {
    width: 27.7vw;
    height: 27.7vw;
  }

  .page-template-template-about .testimonial-section.left .image-container {
    transform: translateX(calc(50% - 10vw));
  }

  .page-template-template-about .testimonial-section.left .bg .col-xs-4:nth-child(1),
  .page-template-template-about .testimonial-section .bg .col-xs-4:nth-child(2),
  .page-template-template-about .testimonial-section.right .bg .col-xs-4:nth-child(3) {
    border-top-left-radius: 13.85vw;
    border-top-right-radius: 13.85vw;
  }

  .page-template-template-about .testimonial-section .text-cnt {
    width: calc((81vw * ((1 / 3) * 2)) + 10vw);
    flex-shrink: 0;
    padding-bottom: 43px;
  }

  .page-template-template-about .testimonial-section.right .text-cnt {
    padding-right: 5.2vw;
    transform: translateX(-10vw);
  }

  .page-template-template-about .testimonial-section.left .text-cnt {
    padding-left: 5.2vw;
  }

  .page-template-template-about .testimonial-section .text-cnt h2 {
    margin-bottom: 28px;
  }

  .page-template-template-about .testimonial-section .text-cnt p {
    font-size: 20px;
    line-height: 32px;
  }

  .page-template-template-about .testimonial-section .text-cnt .button {
    margin-top: 50px;
  }

  .page-template-template-about #meet-the-team {
    padding: 100px 5.2vw 0;
  }

  .page-template-template-about #meet-the-team h2 {
    max-width: 45%;
    margin-bottom: 74px;
  }

  .page-template-template-about #meet-the-team .col-xs-6:last-child {
    padding-left: 0;
  }

  .page-template-template-about #meet-the-team .col-xs-6.shape-1 .image .image-container {
    width: 40.2vw;
    height: 27.8vw;
    border-top-left-radius: 13.9vw;
    border-bottom-left-radius: 13.9vw;
  }

  .page-template-template-about #meet-the-team .col-xs-6.shape-1 .pinwheel {
    width: 67px;
    height: 67px;
  }

  .page-template-template-about #meet-the-team .col-xs-6.shape-2 .image .image-container {
    width: 27.3vw;
    height: 39.3vw;
    border-top-left-radius: 13.65vw;
    border-top-right-radius: 13.65vw;
  }

  .page-template-template-about #meet-the-team .col-xs-6.shape-3 .image .image-container {
    width: 32.6vw;
    height: 32.6vw;
  }

  .page-template-template-about #meet-the-team .col-xs-6.shape-3 .image .blue-circle {
    width: 32.6vw;
    height: 32.6vw;
  }

  .page-template-template-about #meet-the-team .col-xs-6 .title {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 30px;
  }

  .page-template-template-about #meet-the-team .col-xs-6 .bio-button {
    margin-bottom: 30px;
  }

  .page-template-template-about #meet-the-team .col-xs-6 .bio {
    display: none;
  }

  .page-template-template-about #careers {
    padding: 15.8vw 5.2vw 60px;
  }

  .page-template-template-about #careers .diagonal-line {
    height: 128vw;
    top: 22vw;
    transform: rotate(52deg);
  }

  .page-template-template-about #careers .col-xs-6:first-child {
    padding-right: 3vw;
  }

  .page-template-template-about #careers .image-container {
    width: 42.7vw;
  }

  .page-template-template-about #careers .image-container:first-child {
    height: 42.7vw;
  }

  .page-template-template-about #careers .image-container:last-child {
    height: 29.6vw;
    border-top-left-radius: 21.35vw;
    border-bottom-left-radius: 21.35vw;
  }

  .page-template-template-about #know-your-own-bone {
    padding: 0 5.2vw 100px;
  }
}

@media (max-width: 581px) {
  .page-template-template-about #banner {
    padding: 0 6.2vw;
  }

  .page-template-template-about #banner .primary-text {
    font-size: 30px;
    line-height: 38px;
  }

  .page-template-template-about #banner .col-xs-6 {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
    padding: 0 !important;
  }

  .page-template-template-about #the-story {
    border-bottom: none;
    border-left: none;
    margin-left: 0;
    padding: 50px 6.25vw;
  }

  .page-template-template-about .testimonial-section.right {
    margin-left: 0;
  }

  .page-template-template-about .testimonial-section.left {
    margin-right: 0;
  }

  .page-template-template-about .testimonial-section .image-container {
    width: 48.4vw;
    height: 48.4vw;
  }

  .page-template-template-about .testimonial-section.left .image-container {
    transform: translate(-12.5vw, -50%) !important;
  }

  .page-template-template-about .testimonial-section.right .image-container {
    transform: translateY(-50%) !important;
  }

  .page-template-template-about .testimonial-section .bg {
    display: flex;
    flex-direction: column;
  }

  .page-template-template-about .testimonial-section .bg .bg-inner {
    flex-wrap: wrap;
  }

  .page-template-template-about .testimonial-section .bg .col-xs-4 {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
    height: 25%;
    margin-left: 0;
  }

  .page-template-template-about .testimonial-section .bg .col-xs-4:nth-child(1) {
    border-radius: 0 !important;
  }

  .page-template-template-about .testimonial-section.right .bg .col-xs-4:nth-child(2),
  .page-template-template-about .testimonial-section.right .bg .col-xs-4:nth-child(3) {
    border-top-left-radius: 25vw !important;
    border-bottom-left-radius: 25vw !important;
    border-top-right-radius: 0 !important;
  }

  .page-template-template-about .testimonial-section.left .bg .col-xs-4:nth-child(2),
  .page-template-template-about .testimonial-section.left .bg .col-xs-4:nth-child(3) {
    border-top-right-radius: 25vw !important;
    border-bottom-right-radius: 25vw !important;
    border-top-left-radius: 0 !important;
  }

  .page-template-template-about .testimonial-section .text-cnt {
    padding-top: 24.2vw;
  }

  .page-template-template-about .testimonial-section .text-cnt .button {
    width: 89.6vw;
  }

  .page-template-template-about .testimonial-section.right .text-cnt .button {
    transform: translateX(-33vw);
  }

  .page-template-template-about #meet-the-team {
    padding: 50px 6.2vw 0;
  }

  .page-template-template-about #meet-the-team h2 {
    max-width: none;
  }

  .page-template-template-about #meet-the-team .row {
    margin-bottom: 50px;
  }

  .page-template-template-about #meet-the-team .col-xs-6 {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }

  .page-template-template-about #meet-the-team .col-xs-6:first-child {
    padding-right: 0;
    margin-bottom: 30px;
  }

  .page-template-template-about #meet-the-team .col-xs-6.shape-1 .image .image-container {
    width: 100%;
    height: 60.625vw;
    border-top-left-radius: 30.3vw;
    border-bottom-left-radius: 30.3vw;
  }

  .page-template-template-about #meet-the-team .col-xs-6.shape-1 .pinwheel {
    left: auto;
    right: 0;
    transform: translate(50%, 50%);
  }

  .page-template-template-about #meet-the-team .col-xs-6.shape-2 .image .image-container {
    width: 60.3vw;
    height: 86.6vw;
    border-top-left-radius: 43.3vw;
    border-top-right-radius: 43.3vw;
  }

  .page-template-template-about #meet-the-team .col-xs-6.shape-2 .image .plot-graph {
    width: 100vw;
    margin-left: -5.125vw;
  }

  .page-template-template-about #meet-the-team .col-xs-6.shape-3 .image .image-container,
  .page-template-template-about #meet-the-team .col-xs-6.shape-3 .image .blue-circle {
    width: 68.4vw;
    height: 68.4vw;
  }

  .page-template-template-about #meet-the-team .col-xs-6.shape-3 .image .blue-circle {
    top: 3.875vw;
    transform-origin: 50% calc(50% - 3.875vw);
  }

  .page-template-template-about #meet-the-team .col-xs-6 h3 {
    font-size: 28px;
    line-height: 40px;
  }

  .page-template-template-about #careers {
    padding: 15.8vw 6.2vw 60px;
  }

  .page-template-template-about #careers .diagonal-line {
    height: 241vw;
    top: 76vw;
    transform: rotate(26deg);
  }

  .page-template-template-about #careers .col-xs-6 {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }

  .page-template-template-about #careers .col-xs-6:first-child {
    padding-right: 0;
    margin-bottom: 50px;
  }

  .page-template-template-about #careers p {
    margin-bottom: 50px;
  }

  .page-template-template-about #careers .image-container {
    width: 100%;
  }

  .page-template-template-about #careers .image-container:first-child {
    height: 87.8vw;
  }

  .page-template-template-about #careers .image-container:last-child {
    height: 60.9vw;
    border-top-left-radius: 43.9vw;
    border-bottom-left-radius: 43.9vw;
  }
}
