//
// Name:            Approach
//
// Description:     Contains all style definitions concerning basic
//					structure and layout
//
// ========================================================================
// Component: Approach Page
// ========================================================================
.page-template-template-approach {
  main.main {
    padding-left: 10.3vw;
    padding-right: 10.3vw;
  }

  #banner {
    h1 {
      color: $impact-blue-dark;
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
    }

    .primary-text {
      color: #111111;
      font-size: 65px;
      line-height: 80px;
      margin-top: 13px;
    }

    .row {
      margin-top: 130px;
    }

    .col-xs-4 {
      &:nth-child(3n + 1) {
        padding-right: 2vw;
      }

      &:nth-child(3n + 2) {
        padding-left: 1vw;
        padding-right: 1vw;
      }

      &:nth-child(3n + 3) {
        padding-left: 2vw;
      }
    }

    .stat {
      color: $impact-blue;
      font-size: 100px;
      line-height: 85px;
      word-wrap: break-word;
    }

    .description {
      color: $impact-blue-dark;
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
    }
  }

  #the-data,
  #collection,
  #analysis {
    padding: 13.6vw 0 0;
    position: relative;

    h2 {
      margin-bottom: 60px;
    }

    .row {
      &:first-child {
        .col-xs-6:last-child {
          padding-left: 6vw;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      &.intro {
        margin-bottom: 9.4vw;

        .shapes {
          height: 33.125vw;
        }
      }

      &.subsection {
        margin-bottom: 150px;

        &:last-child {
          margin-bottom: 0;
        }

        .col-xs-6:first-child {
          padding-right: 6vw;
        }

        h3, p {
          color: $impact-blue-dark;
        }

        h3 {
          margin-bottom: 40px;
        }

        p {
          font-size: 16px;
          line-height: 30px;
        }
      }
    }

    .shapes {
      position: relative;
      display: flex;
      margin: auto 0;
    }

    .shapes-inner {
      width: 100%;
      height: 0;
      display: flex;
      overflow: hidden;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: height .5s ease-in-out;

      &.show {
        height: 100%;
      }
    }

    .shape {
      width: 18.9vw;
      height: 33.125vw;
      position: absolute;
      bottom: 0;

      &:before,
      &:after {
        content: '';
        display: inline-block;
        position: absolute;
      }

      &:first-child {
        left: 0;
      }

      &:last-child {
        left: 18.9vw;
      }

      &.shape-1 {
        &:before {
          width: 100%;
          height: 100%;
          background: $color-black;
          top: 0;
          left: 0;
        }

        &:after {
          width: 100%;
          height: 100%;
          border-top: 9.45vw solid $impact-beige;
          border-left: 18.9vw solid transparent;
          left: 0;
          top: -1px;
        }
      }

      &.shape-2 {
        &:before {
          width: 18.9vw;
          height: 18.9vw;
          background: $color-black;
          border-radius: 50%;
          top: 0;
          left: 0;
        }

        &:after {
          width: 100%;
          height: calc(100% - 9.45vw);
          background: $color-black;
          bottom: 0;
          left: 0;
        }
      }

      &.shape-3 {
        &:before {
          width: 100%;
          height: 100%;
          background: $color-black;
        }
      }
    }

    .people-container-1 {
      margin: auto;

      .row:first-child {
        margin-bottom: 30px;
      }

      .person {
        display: flex;
        flex-direction: column;
        align-items: center;
        -ms-flex-align: center;
        padding-left: 1vw;
        padding-right: 1vw;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      .head {
        width: 39px;
        height: 39px;
        border-radius: 50%;
        margin-bottom: 5px;
        transition: background .25s ease-in-out;
      }

      .torso {
        width: 57px;
        height: 80px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        margin-bottom: 5px;
        transition: background .25s ease-in-out;
      }

      .legs {
        .leg {
          width: 28px;
          height: 39px;
          border-top-left-radius: 14px;
          border-top-right-radius: 14px;
          display: inline-block;
          margin-right: -3px;
          transition: background .25s ease-in-out;
        }
      }

      .peach {
        background: $impact-peach;

        &.switch {
          background: $impact-blue;
        }
      }

      .black {
        background: $color-black;

        &.switch {
          background: $impact-orange-light;
        }
      }

      .blue {
        background: $impact-blue;

        &.switch {
          background: $impact-peach;
        }
      }

      .orange {
        background: $impact-orange-dark;

        &.switch {
          background: $color-black;
        }
      }
    }

    .people-container-2 {
      width: 288px;
      height: 262px;
      margin: 0 auto;
      position: relative;

      .person {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        -ms-flex-align: center;
        position: relative;

        &:first-child {
          margin-right: 40px;
        }

        .head {
          width: 83px;
          height: 83px;
          border-radius: 50%;
          margin-bottom: 10px;
          transition: background .25s ease-in-out;

          &.peach {
            background: $impact-peach;
          }

          &.blue {
            background: $impact-blue;
          }

          &.orange {
            background: $impact-orange-dark;
          }

          &.black {
            background: $color-black;
          }
        }

        .body {
          width: 121px;
          height: 169px;
          border-top-left-radius: 60px;
          border-top-right-radius: 60px;
          background: $color-black;
        }
      }
    }

    .trends-container {
      width: 351px;
      height: 336px;
      margin: auto;
      position: relative;

      .trend {
        width: 136px;
        height: 136px;
        background: $impact-peach;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        -ms-flex-align: center;
        position: absolute;
        transform: scale(1);
        transition: transform .25s ease-in-out;

        &.hover {
          transform: scale(1.2);
        }

        img {
          width: 90px;
          height: auto;
          margin: auto;
        }

        &:first-child {
          top: 0;
          left: 0;
        }

        &:nth-child(2) {
          top: 45px;
          right: 0;
        }

        &:last-child {
          bottom: 0;
          left: 25%;
        }
      }
    }

    .buttons-container {
      width: 216px;
      margin: auto;

      .button-row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .button-graphic {
        width: 54px;
        height: 54px;
        background: $color-black;
        border-radius: 50%;
        position: relative;

        &:after {
          content: '';
          width: 100%;
          height: 100%;
          background: $impact-orange-dark;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          transform: translateY(-8px);
          transition: transform .25s ease-in-out;
        }

        &.peach {
          &:after {
            background: $impact-peach;
          }
        }

        &.pressed {
          &:after {
            transform: translateY(0);
          }
        }
      }
    }

    .sampling-container {
      width: 24.5vw;
      height: 22.6vw;
      margin: auto;
      position: relative;

      .sampling-graphic {
        position: absolute;

        &:nth-child(1) {
          bottom: 0;
          left: 0;
        }

        &:nth-child(2) {
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }

        &:last-child {
          bottom: 0;
          right: 0;
        }

        .graphic-inner {
          position: relative;

          .circle {
            width: 9.4vw;
            height: 9.4vw;
            background: $impact-peach;
            border-radius: 50%;
            opacity: 1;
            transition: opacity .25s ease-in-out;
          }

          .dots {
            width: 0;
            max-width: none;
            height: auto;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: opacity .25s ease-in-out, width .5s ease-in-out, height .5s ease-in-out;
          }
        }

        &.active {
          .graphic-inner {
            .circle {
              opacity: 0;
            }

            .dots {
              opacity: 1;
            }
          }
          &:nth-child(1) {
            .graphic-inner {
              .dots {
                width: 14.7vw;
              }
            }
          }

          &:nth-child(2) {
            .graphic-inner {
              .dots {
                width: 17.4vw;
              }
            }
          }

          &:last-child {
            .graphic-inner {
              .dots {
                width: 14.7vw;
              }
            }
          }
        }
      }
    }

    .resize-container {
      height: 11.4vw;
      margin: 0 auto;

      .resize-shape {
        width: 10.8vw;
        height: 6.4vw;
        border-radius: 0 1.9vw 1.9vw 1.9vw;
        display: inline-block;
        vertical-align: top;
        transition: all .25s ease-in-out;

        &.grow {
          width: 17.7vw;
          height: 11.4vw;
        }

        &:first-child {
          background: $impact-peach;
          margin-right: 27px;
        }

        &:last-child {
          background: $impact-orange-dark;
        }
      }
    }

    .scalar-container {
      width: 330px;
      height: 205px;
      margin: 0 auto;

      .scalar-row {
        display: flex;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }

        .circle {
          width: 33px;
          height: 33px;
          position: relative;

          &:after {
            content: '';
            width: 12px;
            height: 12px;
            border-radius: 50%;
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all .25s ease-in-out;
          }

          &.active {
            &:after {
              width: 33px;
              height: 33px;
            }
          }
        }

        &:first-child {
          .circle {
            &:after {
              background: $impact-peach;
            }

            &.active {
              &:after {
                background: $impact-blue;
              }
            }
          }
        }

        &:nth-child(2) {
          .circle {
            &:after {
              background: $impact-orange-dark;
            }

            &.active {
              &:after {
                background: $color-black;
              }
            }
          }
        }

        &:nth-child(3) {
          .circle {
            &:after {
              background: $impact-blue;
            }

            &.active {
              &:after {
                background: $impact-peach;
              }
            }
          }
        }

        &:last-child {
          .circle {
            &:after {
              background: $color-black;
            }

            &.active {
              &:after {
                background: $impact-orange-dark;
              }
            }
          }
        }
      }
    }

    .pills-container {
      margin: auto;

      .pill-row {
        display: flex;
        margin-bottom: 3.3vw;
        padding-top: 0;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .pill {
        width: 1.2vw;
        height: 3.4vw;
        background: $impact-peach;
        border-radius: 1.7vw;
        margin-right: 3.7vw;
        transition: background .25s ease-in-out;

        &:last-child {
          margin-right: 0;
        }

        &.orange {
          background: $impact-orange-dark;
        }
      }
    }

    .circles-container {
      display: flex;
      margin: 15% auto;

      .circle {
        width: 9.4vw;
        height: 9.4vw;
        background: $impact-peach;
        border-radius: 50%;
        margin-right: 2.2vw;
        transition: background .25s ease-in-out;

        &:last-child {
          margin-right: 0;
        }

        &.orange {
          background: $impact-orange-dark;
        }
      }
    }

    .bars-container {
      width: auto;
      height: 368px;
      display: flex;
      flex-shrink: 0;
      margin: auto;

      .bars-group {
        display: flex;
        margin-right: 2.6vw;
        position: relative;

        &:last-child {
          margin-right: 0;
        }

        .bar {
          height: 100%;
          width: 2.6vw;
          border-bottom-left-radius: 1.3vw;
          border-bottom-right-radius: 1.3vw;
          position: relative;
          transform: translateY(0);
          transition: all .3s ease-in-out;

          &:hover {
            transform: translateY(-8%);
          }

          &:first-child {
            background: $impact-peach;
            border-top-left-radius: 2.6vw;
            margin-right: .7vw;
          }

          &:last-child {
            background: $impact-orange-dark;
          }
        }

        &:nth-child(1) {
          .bar {
            &:first-child {
              height: 100%;
              top: 0;
            }

            &:last-child {
              height: 76.7%;
              top: 23.3%;

              &:hover {
                height: 140%;
              }
            }
          }
        }

        &:nth-child(2) {
          .bar {
            &:first-child {
              height: 100%;
              top: 0;
            }

            &:last-child {
              height: 116.3%;
              top: -16.3%;
              background: $color-black;

              &:hover {
                height: 200%;
              }
            }
          }
        }

        &:nth-child(3) {
          .bar {
            &:first-child {
              height: 100%;
              top: 0;
            }

            &:last-child {
              height: 102.2%;
              top: -2.2%;
              background: $impact-blue;

              &:hover {
                height: 160%;
              }
            }
          }
        }
      }
    }
  }

  #usage {
    padding-top: 17vw;

    h2 {
      font-size: 14px;
      color: $impact-blue-dark;
      line-height: 24px;
    }

    .subhead {
      font-size: 72px;
      line-height: 80px;
      margin-bottom: 57px;

      & + .usage-item {
        border-top: 2px solid $impact-blue-dark;
      }
    }

    .usage-item {
      border-bottom: 2px solid $impact-blue-dark;
      padding: 40px 0;

      .row {
        margin-bottom: 80px;
        display: none;
      }

      .col-xs-6 {
        &:first-child {
          padding-right: 6vw;
        }

        &:last-child {
          display: flex;
          flex-direction: column;
          align-items: center;
          -ms-flex-align: center;
          justify-content: center;
        }
      }

      h3 {
        font-size: 64px;
        color: $impact-blue;
        line-height: 80px;
        margin-bottom: 20px;
      }

      p {
        font-size: 16px;
        color: $impact-blue-dark;
        line-height: 26px;
      }

      .button {
        margin-top: 60px;
      }

      .image-container {
        width: 25vw;
        height: 25vw;
        border-radius: 50%;
        margin: 0 auto;
        overflow: hidden;

        img {
          min-width: 100%;
          min-height: 100%;
          object-fit: cover;
        }
      }

      .caption {
        font-size: 14px;
        color: $impact-blue-dark;
        line-height: 24px;
        text-align: center;
      }
    }
  }

  #contact-us {
    padding-top: 12.7vw;
    position: relative;

    .diagonal-line {
      width: 127.5vw;
      height: 1px;
      background: $impact-peach;
      position: absolute;
      top: 62.5vw;
      left: -16.6vw;
      transform: rotate(13deg);
      z-index: -1;
    }

    .col-xs-6:first-child {
      padding-right: 6vw;
    }

    h2 {
      margin-bottom: 60px;
    }

    .button {
      margin-top: 84px;
    }

    .image-container {
      overflow: hidden;

      &:first-child {
        width: 38.4vw;
        height: 38.4vw;
        border-radius: 50%;
        margin-bottom: 60px;
      }

      &:last-child {
        width: 38.4vw;
        height: 26.7vw;
        border-top-left-radius: 13.35vw;
        border-bottom-left-radius: 13.35vw;
      }

      img {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
      }
    }
  }

  #know-your-own-bone {
    padding: 0 0 8.3vw;
  }
}

@media (max-width: 1024px) {
  .page-template-template-approach main.main {
    padding-left: 5.2vw;
    padding-right: 5.2vw;
  }

  .page-template-template-approach #banner .primary-text {
    font-size: 45px;
    line-height: 53px;
  }

  .page-template-template-approach #banner .row {
    margin-top: 65px;
  }

  .page-template-template-approach #banner .stat {
    font-size: 60px;
    line-height: 56px;
  }

  .page-template-template-approach #the-data,
  .page-template-template-approach #collection,
  .page-template-template-approach #analysis {
    padding-top: 100px;
  }

  .page-template-template-approach #the-data .row.intro .shapes,
  .page-template-template-approach #collection .row.intro .shapes,
  .page-template-template-approach #analysis .row.intro .shapes {
    height: 37.5vw;
    margin-top: 0;
  }

  .page-template-template-approach #the-data .shape,
  .page-template-template-approach #collection .shape,
  .page-template-template-approach #analysis .shape {
    width: 21.4vw;
    height: 37.5vw;
  }

  .page-template-template-approach #the-data .shape.shape-1:after,
  .page-template-template-approach #collection .shape.shape-1:after,
  .page-template-template-approach #analysis .shape.shape-1:after {
    border-top-width: 10.7vw;
    border-left-width: 21.4vw;
  }

  .page-template-template-approach #the-data .shape.shape-2:before,
  .page-template-template-approach #collection .shape.shape-2:before,
  .page-template-template-approach #analysis .shape.shape-2:before {
    width: 21.4vw;
    height: 21.4vw;
  }

  .page-template-template-approach #the-data .shape.shape-2:after,
  .page-template-template-approach #collection .shape.shape-2:after,
  .page-template-template-approach #analysis .shape.shape-2:after {
    height: calc(100% - 10.7vw);
  }

  .page-template-template-approach #the-data .shape:last-child,
  .page-template-template-approach #collection .shape:last-child,
  .page-template-template-approach #analysis .shape:last-child {
    left: 21.4vw;
  }

  .page-template-template-approach #the-data h2,
  .page-template-template-approach #collection h2,
  .page-template-template-approach #analysis h2 {
    margin-bottom: 30px;
  }

  .page-template-template-approach #the-data .row:first-child .col-xs-6:last-child,
  .page-template-template-approach #collection .row:first-child .col-xs-6:last-child,
  .page-template-template-approach #analysis .row:first-child .col-xs-6:last-child {
    padding-left: 2vw;
  }

  .page-template-template-approach #the-data .row.subsection .col-xs-6:first-child,
  .page-template-template-approach #collection .row.subsection .col-xs-6:first-child,
  .page-template-template-approach #analysis .row.subsection .col-xs-6:first-child {
    padding-right: 2vw;
  }

  .page-template-template-approach #the-data .pills-container .pill-row,
  .page-template-template-approach #collection .pills-container .pill-row,
  .page-template-template-approach #analysis .pills-container .pill-row {
    margin-bottom: 8.3vw;
  }

  .page-template-template-approach #the-data .pills-container .pill,
  .page-template-template-approach #collection .pills-container .pill,
  .page-template-template-approach #analysis .pills-container .pill {
    width: 1.8vw;
    height: 5vw;
    margin-right: 7.2vw;
  }

  .page-template-template-approach #the-data .circles-container .circle,
  .page-template-template-approach #collection .circles-container .circle,
  .page-template-template-approach #analysis .circles-container .circle {
    width: 13.9vw;
    height: 13.9vw;
  }

  .page-template-template-approach #the-data .circles-container .circle,
  .page-template-template-approach #collection .circles-container .circle,
  .page-template-template-approach #analysis .circles-container .circle {
    margin-right: 3.125vw;
  }

  .page-template-template-approach #the-data .bars-container,
  .page-template-template-approach #collection .bars-container,
  .page-template-template-approach #analysis .bars-container {
    max-height: 300px;
    margin-top: 10%;
  }

  .page-template-template-approach #the-data .bars-container .bars-group,
  .page-template-template-approach #collection .bars-container .bars-group,
  .page-template-template-approach #analysis .bars-container .bars-group {
    margin-right: 3.6vw;
  }

  .page-template-template-approach #the-data .bars-container .bars-group .bar,
  .page-template-template-approach #collection .bars-container .bars-group .bar,
  .page-template-template-approach #analysis .bars-container .bars-group .bar {
    width: 3.5vw;
    border-bottom-left-radius: 1.75vw;
    border-bottom-right-radius: 1.75vw;
  }

  .page-template-template-approach #the-data .bars-container .bars-group .bar:first-child,
  .page-template-template-approach #collection .bars-container .bars-group .bar:first-child,
  .page-template-template-approach #analysis .bars-container .bars-group .bar:first-child {
    border-top-left-radius: 3.5vw;
    margin-right: .9vw;
  }

  .page-template-template-approach #usage {
    padding-top: 100px;
  }

  .page-template-template-approach #usage .subhead {
    font-size: 50px;
    line-height: 52px;
  }

  .page-template-template-approach #usage .usage-item {
    padding: 30px 0;
  }

  .page-template-template-approach #usage .usage-item h3 {
    font-size: 40px;
    line-height: 46px;
  }

  .page-template-template-approach #usage .usage-item .col-xs-6:last-child {
    justify-content: flex-start;
  }

  .page-template-template-approach #usage .usage-item .image-container {
    width: 36.3vw;
    height: 36.3vw;
  }
}

@media (max-width: 768px) {
  .page-template-template-approach #the-data .people-container-2,
  .page-template-template-approach #collection .people-container-2,
  .page-template-template-approach #analysis .people-container-2,
  .page-template-template-approach #the-data .buttons-container,
  .page-template-template-approach #collection .buttons-container,
  .page-template-template-approach #analysis .buttons-container {
    transform: scale(.7);
  }
}

@media (max-width: 581px) {
  .page-template-template-approach main.main {
    padding-left: 6.2vw;
    padding-right: 6.2vw;
  }

  .page-template-template-approach #banner .primary-text {
    font-size: 30px;
    line-height: 38px;
  }

  .page-template-template-approach #banner .row {
    padding: 0 9.1vw;
  }

  .page-template-template-approach #banner .col-xs-4 {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
    margin-bottom: 60px;
    padding: 0 !important;
  }

  .page-template-template-approach #banner .col-xs-4:last-child {
    margin-bottom: 0;
  }

  .page-template-template-approach #the-data .row,
  .page-template-template-approach #collection .row,
  .page-template-template-approach #analysis .row {
    margin-bottom: 60px;
  }

  .page-template-template-approach #the-data .col-xs-6,
  .page-template-template-approach #collection .col-xs-6,
  .page-template-template-approach #analysis .col-xs-6 {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }

  .page-template-template-approach #the-data .row.subsection,
  .page-template-template-approach #collection .row.subsection,
  .page-template-template-approach #analysis .row.subsection {
    margin-bottom: 60px;
  }

  .page-template-template-approach #the-data .row.subsection h3,
  .page-template-template-approach #collection .row.subsection h3,
  .page-template-template-approach #analysis .row.subsection h3 {
    font-size: 28px;
    line-height: 40px;
  }

  .page-template-template-approach #the-data .row.intro .shapes,
  .page-template-template-approach #collection .row.intro .shapes,
  .page-template-template-approach #analysis .row.intro .shapes {
    height: 27.5vw;
    margin-bottom: 30px;
  }

  .page-template-template-approach #the-data .row.subsection .shapes,
  .page-template-template-approach #collection .row.subsection .shapes,
  .page-template-template-approach #analysis .row.subsection .shapes {
    height: auto;
    margin-top: 60px;
  }

  .page-template-template-approach #the-data .shape,
  .page-template-template-approach #collection .shape,
  .page-template-template-approach #analysis .shape {
    width: 15.625vw;
    height: 27.5vw;
  }

  .page-template-template-approach #the-data .shape.shape-1:after,
  .page-template-template-approach #collection .shape.shape-1:after,
  .page-template-template-approach #analysis .shape.shape-1:after {
    border-top-width: 8.2vw;
    border-left-width: 15.625vw;
  }

  .page-template-template-approach #the-data .shape.shape-2:before,
  .page-template-template-approach #collection .shape.shape-2:before,
  .page-template-template-approach #analysis .shape.shape-2:before {
    width: 15.625vw;
    height: 15.625vw;
  }

  .page-template-template-approach #the-data .shape.shape-2:after,
  .page-template-template-approach #collection .shape.shape-2:after,
  .page-template-template-approach #analysis .shape.shape-2:after {
    height: calc(100% - 7.8125vw);
  }

  .page-template-template-approach #the-data .shape:last-child,
  .page-template-template-approach #collection .shape:last-child,
  .page-template-template-approach #analysis .shape:last-child {
    left: 15.625vw;
  }

  .page-template-template-approach #the-data .pills-container,
  .page-template-template-approach #collection .pills-container,
  .page-template-template-approach #analysis .pills-container {
    width: 100%;
  }

  .page-template-template-approach #the-data .pills-container .pill-row,
  .page-template-template-approach #collection .pills-container .pill-row,
  .page-template-template-approach #analysis .pills-container .pill-row {
    justify-content: space-between;
    margin-bottom: 15vw;
  }

  .page-template-template-approach #the-data .pills-container .pill,
  .page-template-template-approach #collection .pills-container .pill,
  .page-template-template-approach #analysis .pills-container .pill {
    width: 5vw;
    height: 14.3vw;
    border-radius: 7.15vw;
  }

  .page-template-template-approach #the-data .circles-container,
  .page-template-template-approach #collection .circles-container,
  .page-template-template-approach #analysis .circles-container {
    width: 100%;
    justify-content: space-between;
    margin: 0 auto calc(60px - 6vw);
  }

  .page-template-template-approach #the-data .circles-container .circle,
  .page-template-template-approach #collection .circles-container .circle,
  .page-template-template-approach #analysis .circles-container .circle {
    width: 39.3vw;
    height: 39.3vw;
    margin-right: auto;
  }

  .page-template-template-approach #the-data .bars-container,
  .page-template-template-approach #collection .bars-container,
  .page-template-template-approach #analysis .bars-container {
    height: 280px;
    margin: 10% auto 0;
  }

  .page-template-template-approach #the-data .bars-container .bars-group,
  .page-template-template-approach #collection .bars-container .bars-group,
  .page-template-template-approach #analysis .bars-container .bars-group {
    margin-right: 6.7vw;
  }

  .page-template-template-approach #the-data .bars-container .bars-group:last-child,
  .page-template-template-approach #collection .bars-container .bars-group:last-child,
  .page-template-template-approach #analysis .bars-container .bars-group:last-child {
    margin-right: 0;
  }

  .page-template-template-approach #the-data .bars-container .bars-group .bar,
  .page-template-template-approach #collection .bars-container .bars-group .bar,
  .page-template-template-approach #analysis .bars-container .bars-group .bar {
    width: 6.8vw;
    border-bottom-left-radius: 3.4vw;
    border-bottom-right-radius: 3.4vw;
  }

  .page-template-template-approach #the-data .bars-container .bars-group .bar:first-child,
  .page-template-template-approach #collection .bars-container .bars-group .bar:first-child,
  .page-template-template-approach #analysis .bars-container .bars-group .bar:first-child {
    border-top-left-radius: 6.8vw;
  }

  .page-template-template-approach #the-data .trends-container,
  .page-template-template-approach #collection .trends-container,
  .page-template-template-approach #analysis .trends-container {
    transform: scale(.8);
  }

  .page-template-template-approach #the-data .sampling-container,
  .page-template-template-approach #collection .sampling-container,
  .page-template-template-approach #analysis .sampling-container {
    width: 71.8vw;
    height: 65.9vw;
  }

  .page-template-template-approach #the-data .sampling-container .sampling-graphic .graphic-inner .circle,
  .page-template-template-approach #collection .sampling-container .sampling-graphic .graphic-inner .circle,
  .page-template-template-approach #analysis .sampling-container .sampling-graphic .graphic-inner .circle {
    width: 27.5vw;
    height: 27.5vw;
  }

  .page-template-template-approach #the-data .sampling-container .sampling-graphic.active:nth-child(1) .graphic-inner .dots,
  .page-template-template-approach #collection .sampling-container .sampling-graphic.active:nth-child(1) .graphic-inner .dots,
  .page-template-template-approach #analysis .sampling-container .sampling-graphic.active:nth-child(1) .graphic-inner .dots,
  .page-template-template-approach #the-data .sampling-container .sampling-graphic.active:nth-child(3) .graphic-inner .dots,
  .page-template-template-approach #collection .sampling-container .sampling-graphic.active:nth-child(3) .graphic-inner .dots,
  .page-template-template-approach #analysis .sampling-container .sampling-graphic.active:nth-child(3) .graphic-inner .dots {
    width: 34.4vw;
  }

  .page-template-template-approach #the-data .sampling-container .sampling-graphic.active:nth-child(2) .graphic-inner .dots,
  .page-template-template-approach #collection .sampling-container .sampling-graphic.active:nth-child(2) .graphic-inner .dots,
  .page-template-template-approach #analysis .sampling-container .sampling-graphic.active:nth-child(2) .graphic-inner .dots {
    width: 40.7vw;
  }

  .page-template-template-approach #the-data .resize-container,
  .page-template-template-approach #collection .resize-container,
  .page-template-template-approach #analysis .resize-container {
    height: 33.4vw;
  }

  .page-template-template-approach #the-data .resize-container .resize-shape:first-child,
  .page-template-template-approach #collection .resize-container .resize-shape:first-child,
  .page-template-template-approach #analysis .resize-container .resize-shape:first-child {
    width: 51.5vw;
    height: 33.4vw;
    margin-right: 10px;
  }

  .page-template-template-approach #the-data .resize-container .resize-shape:last-child,
  .page-template-template-approach #collection .resize-container .resize-shape:last-child,
  .page-template-template-approach #analysis .resize-container .resize-shape:last-child {
    width: 31.6vw;
    height: 18.75vw;
  }

  .page-template-template-approach #usage .subhead {
    margin-bottom: 25px;
  }

  .page-template-template-approach #usage .usage-item .col-xs-6 {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }

  .page-template-template-approach #usage .usage-item .col-xs-6:nth-child(2) {
    margin-bottom: 60px;
  }

  .page-template-template-approach #usage .usage-item .image-container {
    width: 87.2vw;
    height: 87.2vw;
  }

  .page-template-template-approach #contact-us {
    padding: 60px 0;
  }

  .page-template-template-approach #contact-us .diagonal-line {
    width: 280vw;
    top: 76.5vw;
    left: auto;
    right: -8.2vw;
    transform: rotate(-67deg);
    transform-origin: 100% 0;
  }

  .page-template-template-approach #contact-us .col-xs-6 {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
    padding: 0 !important;
  }

  .page-template-template-approach #contact-us .col-xs-6:first-child {
    margin-bottom: 60px;
  }

  .page-template-template-approach #contact-us .image-container:first-child {
    width: 87.4vw;
    height: 87.5vw;
  }

  .page-template-template-approach #contact-us .image-container:last-child {
    width: 100%;
    height: 60.7vw;
    border-top-left-radius: 30.35vw;
    border-bottom-left-radius: 30.35vw;
  }
}