//
// Name:            Contact
//
// Description:     Contains all style definitions concerning basic
//					structure and layout
//
// ========================================================================
// Component: Contact Page
// ========================================================================
.page-template-template-contact {
  .main {
    padding-left: 10.3vw;
    padding-right: 10.3vw;
  }

  #banner {
    margin-bottom: 180px;

    .col-xs-6:last-child {
      padding-left: 5.5vw;
    }

    h1 {
      font-size: 100px;
      line-height: 96px;
    }

    p {
      color: $impact-peach;
      line-height: 32px;
    }
  }

  #services-approach {
    margin-bottom: 142px;

    .col-xs-6 {
      &:first-child {
        padding-right: 5vw;
      }

      &:last-child {
        padding-left: 5vw;
      }
    }

    h2 {
      margin-bottom: 60px;
    }

    .button {
      margin-top: 60px;
    }
  }

  #contact {
    h2 {
      margin-bottom: 50px;
    }

    .form-container {
      padding-right: 31.6%;
      position: relative;

      form {
        max-width: 800px;
      }

      .bg {
        width: 23.8vw;
        height: calc(100% - 150px);
        position: absolute;
        top: 0;
        right: -10.3vw;

        .bg-row {
          width: 100%;
          height: calc(100% / 3);
          background: $impact-peach;

          &:nth-child(1),
          &:nth-child(2) {
            border-top-left-radius: 15vw;
            border-bottom-left-radius: 15vw;
          }
        }
      }
    }
  }

  #know-your-own-bone {
    padding: 8.5vw 0;
  }
}

@media (max-width: 1024px) {
  .page-template-template-contact .main {
    padding-left: 5.2vw;
    padding-right: 5.2vw;
  }

  .page-template-template-contact #banner {
    margin-bottom: 90px;
  }

  .page-template-template-contact #banner h1 {
    font-size: 80px;
    line-height: 92px;
  }

  .page-template-template-contact #contact .form-container .bg {
    right: -5.2vw;
  }
}

@media (max-width: 581px) {
  .page-template-template-contact .main {
    padding-left: 6.2vw;
    padding-right: 6.2vw;
  }

  .page-template-template-contact #banner {
    margin-bottom: 80px;
  }

  .page-template-template-contact #banner .col-xs-6 {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }

  .page-template-template-contact #banner .col-xs-6:first-child {
    margin-bottom: 30px;
  }

  .page-template-template-contact #banner .col-xs-6:last-child {
    padding-left: 0;
  }

  .page-template-template-contact #services-approach {
    margin-bottom: 60px;
  }

  .page-template-template-contact #services-approach .col-xs-6:first-child,
  .page-template-template-contact #services-approach .col-xs-6:last-child {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
    padding: 0!important;
  }

  .page-template-template-contact #services-approach .col-xs-6:first-child {
    margin-bottom: 80px;
  }

  .page-template-template-contact #services-approach h2 {
    margin-bottom: 30px;
  }

  .page-template-template-contact #services-approach .button {
    margin-top: 30px;
  }

  .page-template-template-contact #contact .form-container {
    padding-right: 0;
  }

  .page-template-template-contact #contact .form-container .bg {
    width: 50vw;
    height: calc(100% - 136px);
    right: -6.2vw;
  }

  .page-template-template-contact #contact .form-container .bg .bg-row:nth-child(1),
  .page-template-template-contact #contact .form-container .bg .bg-row:nth-child(2) {
    border-top-left-radius: 25vw;
    border-bottom-left-radius: 25vw;
  }

  .page-template-template-contact #know-your-own-bone {
    padding-top: 70px;
  }
}