//
// Name:            Home
//
// Description:     Contains all style definitions concerning basic
//					structure and layout
//
// ========================================================================
// Component: Home Page
// ========================================================================

.home,
.page-template-template-home {
  main.main {
    padding-left: 10.4vw;
  }

  #banner {
    padding-bottom: 16.8vw;
    position: relative;

    .col-xs-6 {
      &:first-child {
        padding-bottom: 6.25vw;
      }

      &:last-child {
        padding-right: 0;
      }

      h1 {
        margin-bottom: 44px;
      }

      p {
        max-width: 70%;
        color: $impact-peach;
        font-size: 24px;
        letter-spacing: 0;
        line-height: 32px;
        margin-bottom: 60px;
      }

      .bars-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-shrink: 0;

        .bars-group {
          display: flex;
          margin-right: 5.2vw;
          position: relative;

          .bar {
            height: 100%;
            width: 5.3vw;
            border-bottom-left-radius: 2.65vw;
            border-bottom-right-radius: 2.65vw;
            position: relative;
            transform: translateY(0);
            transition: all .3s ease-in-out;

            &:hover {
              transform: translateY(-8vw);
            }

            &:first-child {
              background: $impact-blue;
              border-top-left-radius: 5.3vw;
              margin-right: 1.4vw;
            }

            &:last-child {
              background: $impact-blue-dark;
            }
          }

          &:nth-child(1) {
            .bar {
              &:first-child {
                height: 108.4%;
                top: -8.4%;

                &:hover {
                  height: 243%;
                }
              }

              &:last-child {
                height: 113%;
                top: -13%;

                &:hover {
                  height: 238.4%;
                }
              }
            }
          }

          &:nth-child(2) {
            .bar {
              &:first-child {
                height: 140.5%;
                top: - 40.5%;

                &:hover {
                  height: 210.9%;
                }
              }

              &:last-child {
                height: 124.4%;
                top: -24.4%;

                &:hover {
                  height: 227%;
                }
              }
            }
          }

          &:nth-child(3) {
            .bar {
              &:first-child {
                height: 104.5%;
                top: -4.5%;

                &:hover {
                  height: 246.9%;
                }
              }

              &:last-child {
                height: 109.5%;
                top: -9.5%;

                &:hover {
                  height: 241.9%;
                }
              }
            }
          }
        }
      }
    }
  }

  #mission-vision {
    padding-right: 3.5vw;
    position: relative;
    z-index: 1;

    .col-xs-6 {
      &:nth-child(2) {
        padding-bottom: 10vw;
      }

      &:last-child {
        padding-left: 2vw;
      }
    }

    h2 {
      margin-bottom: 22.5vw;
      margin-left: 9vw;
    }

    .text-cnt {
      margin-bottom: 60px;
      padding-right: 10vw;
    }

    .image {
      position: relative;
    }

    .image-container {
      position: relative;

      svg {
        width: 41.5vw;
        height: 36.2vw;
      }
    }
  }

  #approach-services {
    position: relative;

    .diagonal-line {
      width: 2px;
      height: 181.6vw;
      background: $impact-blue-dark;
      position: absolute;
      top: -23.7vw;
      left: 89.6vw;
      transform: rotate(34deg);
      transform-origin: 0 0;
      z-index: 0;
    }

    .plot-graph {
      width: 62.7vw;
      height: auto;
      position: absolute;
      top: 9.2vw;
      left: 12.6vw;
      z-index: 1;

      svg {
        width: 100%;
        height: auto;
        overflow: visible;

        circle {
          transition: transform .25s ease-in-out;

          @for $i from 1 to 30 {
            &:nth-child(#{$i}) {
              &.moved {
                transform: translate(random(20) + 10 + px, random(20) + 10 + px);
              }
            }
          }
        }
      }
    }

    h2,
    .row {
      position: relative;
      z-index: 2;
    }

    h2 {
      max-width: 380px;
      margin-bottom: 60px;
    }

    .text-cnt {
      margin-bottom: 60px;
      padding-right: 11.2vw;
    }

    .button {
      margin-bottom: 92px;
    }

    .images {
      .image-container {
        overflow: hidden;

        &:first-child {
          width: 38.4vw;
          height: 38.4vw;
          border-radius: 50%;
          margin-bottom: 60px;
        }

        &:last-child {
          width: 38.4vw;
          height: 26.7vw;
          border-top-left-radius: 13.35vw;
          border-bottom-left-radius: 13.35vw;
        }
      }
    }

    .col-xs-6 {
      &:last-child {
        padding-left: 9vw;
        padding-right: 15vw;
      }
    }

    .service {
      color: $impact-peach;
      margin-bottom: 80px;

      &:last-child {
        margin-bottom: 0;
      }

      h3 {
        margin-bottom: 42px;
      }

      p {
        font-size: 16px;
        line-height: 30px;
        margin-top: 0;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  #resources {
    padding-right: 10.4vw;

    h2 {
      text-align: right;
      transform: translateY(-100%);
    }

    .row {
      margin-bottom: 85px;
      padding-top: 3.5vw;
    }

    .col-xs-3 {
      &:nth-child(1) {
        padding-right: 1.6vw;
      }

      &:nth-child(2) {
        padding-left: calc(1.6vw / 3);
        padding-right: calc((1.6vw / 3) * 2);
      }

      &:nth-child(3) {
        padding-left: calc((1.6vw / 3) * 2);
        padding-right: calc(1.6vw / 3);
      }

      &:nth-child(4) {
        padding-left: 1.6vw;
      }

      .date {
        border-bottom: 2px solid $impact-blue-dark;
        color: $impact-beige;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 24px;
        padding-bottom: 10px;
        margin-bottom: 36px;
      }

      a {
        &:hover {
          h3 {
            color: $impact-orange-light;
          }
        }

        &:focus {
          h3 {
            border-color: $impact-orange-light;
            color: $impact-peach;
          }
        }
      }

      h3 {
        font-size: 24px;
        color: $impact-peach;
        line-height: 32px;
        margin-top: 0;
        border: 2px solid transparent;
        transition: all .25s ease-in-out;
      }

      .author {
        font-size: 14px;
        color: $impact-beige;
        line-height: 24px;
      }

      .read-more {
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 2px;
        margin-top: 47px;
        text-align: center;
        text-transform: uppercase;
      }
    }

    .pills-container {
      margin-top: 11.5vw;

      .pill-row {
        display: flex;
        margin-bottom: 5vw;
        padding-top: 0;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .pill {
        width: 1.7vw;
        height: 4.9vw;
        background: $impact-beige;
        border-radius: 2.45vw;
        margin-right: 5.4vw;
        transition: background .25s ease-in-out;

        &:last-child {
          margin-right: 0;
        }

        &.orange {
          background: #FF6600;
        }
      }
    }
  }

  #know-your-own-bone {
    padding: 12vw 10.4vw 8.3vw 0;
  }
}

@media (max-width: 1024px) {
  .home #mission-vision, .page-template-template-home #mission-vision {
    padding-bottom: 19.4vw;
  }

  .home #mission-vision .col-xs-6:nth-child(2), .page-template-template-home #mission-vision .col-xs-6:nth-child(2) {
    padding-bottom: 0;
  }

  .home #resources .row, .page-template-template-home #resources .row {
    margin-bottom: 0;
  }

  .home #resources .col-xs-3:nth-child(1), .page-template-template-home #resources .col-xs-3 {
    width: 50%;
    max-width: 50%;
    flex-basis: 50%;
    margin-bottom: 60px;
  }

  .home #resources .col-xs-3:nth-child(1), .page-template-template-home #resources .col-xs-3:nth-child(odd) {
    padding-left: 0 !important;
    padding-right: 2.1vw !important;
  }

  .home #resources .col-xs-3:nth-child(1), .page-template-template-home #resources .col-xs-3:nth-child(even) {
    padding-left: 2.1vw !important;
    padding-right: 0 !important;
  }
}

@media (max-width: 768px) {
  .home main.main, .page-template-template-home main.main {
    padding-left: 5.2vw;
  }

  .home #banner .col-xs-6 p, .page-template-template-home #banner .col-xs-6 p {
    max-width: 80%;
  }

  .home #banner .col-xs-6 .bars-container .bars-group, .page-template-template-home #banner .col-xs-6 .bars-container .bars-group {
    margin-right: 6.3vw;
  }

  .home #banner .col-xs-6 .bars-container .bars-group .bar, .page-template-template-home #banner .col-xs-6 .bars-container .bars-group .bar {
    width: 6.3vw;
  }

  .home #banner .col-xs-6 .bars-container .bars-group .bar, .page-template-template-home #banner .col-xs-6 .bars-container .bars-group .bar {
    border-bottom-left-radius: 3.12vw;
    border-bottom-right-radius: 3.12vw;
  }

  .home #banner .col-xs-6 .bars-container .bars-group .bar:first-child, .page-template-template-home #banner .col-xs-6 .bars-container .bars-group .bar:first-child {
    border-top-left-radius: 6.3vw;
  }

  .home #mission-vision, .page-template-template-home #mission-vision {
    padding-right: 0;
  }

  .home #mission-vision .text-cnt, .page-template-template-home #mission-vision .text-cnt {
    padding-right: 8.4vw;
  }

  .home #mission-vision .col-xs-6:last-child, .page-template-template-home #mission-vision .col-xs-6:last-child {
    padding-left: 0;
  }

  .home #approach-services .diagonal-line, .page-template-template-home #approach-services .diagonal-line {
    top: -43.7vw;
    left: 94.6vw;
    transform: rotate(55.2deg);
  }

  .home #approach-services .plot-graph, .page-template-template-home #approach-services .plot-graph {
    width: 84vw;
    top: -57vw;
    left: auto;
    right: 0;
  }

  .home #approach-services h2, .page-template-template-home #approach-services h2 {
    max-width: 300px;
    margin-bottom: 30px;
  }

  .home #approach-services .text-cnt, .page-template-template-home #approach-services .text-cnt {
    padding-right: 9vw;
  }

  .home #approach-services .service, .page-template-template-home #approach-services .service {
    margin-bottom: 60px;
  }

  .home #approach-services .service h3, .page-template-template-home #approach-services .service h3 {
    margin-bottom: 20px;
  }

  .home #approach-services .col-xs-6:last-child, .page-template-template-home #approach-services .col-xs-6:last-child {
    padding-left: 0;
    padding-right: 5.2vw;
  }

  .home #resources, .page-template-template-home #resources {
    padding-right: 5.2vw;
  }

  .home #resources .pills-container .pill, .page-template-template-home #resources .pills-container .pill {
    margin-right: 6.3vw;
  }

  .home #know-your-own-bone, .page-template-template-home #know-your-own-bone {
    padding-right: 5.2vw;
  }
}

@media (max-width: 581px) {
  .home main.main, .page-template-template-home main.main {
    padding-left: 7.7vw;
  }

  .home #banner, .page-template-template-home #banner {
    padding-right: 7.7vw;
  }

  .home #banner .col-xs-6:first-child, .page-template-template-home #banner .col-xs-6:first-child {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }

  .home #banner .col-xs-6:last-child, .page-template-template-home #banner .col-xs-6:last-child {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5vw;
    right: -11vw;
    z-index: -1;
  }

  .home #banner .col-xs-6 h1, .page-template-template-home #banner .col-xs-6 h1 {
    max-width: 85%;
  }

  .home #banner .col-xs-6 p, .page-template-template-home #banner .col-xs-6 p {
    max-width: 70%;
  }

  .home #banner .col-xs-6 .bars-container, .page-template-template-home #banner .col-xs-6 .bars-container {
    height: 59.5vw;
  }

  .home #banner .col-xs-6 .bars-container .bars-group, .page-template-template-home #banner .col-xs-6 .bars-container .bars-group {
    margin-right: 7.6vw;
  }

  .home #banner .col-xs-6 .bars-container .bars-group .bar, .page-template-template-home #banner .col-xs-6 .bars-container .bars-group .bar {
    width: 7.6vw;
  }

  .home #banner .col-xs-6 .bars-container .bars-group .bar, .page-template-template-home #banner .col-xs-6 .bars-container .bars-group .bar {
    border-bottom-left-radius: 3.8vw;
    border-bottom-right-radius: 3.8vw;
  }

  .home #banner .col-xs-6 .bars-container .bars-group .bar:first-child, .page-template-template-home #banner .col-xs-6 .bars-container .bars-group .bar:first-child {
    border-top-left-radius: 7.6vw;
  }

  .home #mission-vision, .page-template-template-home #mission-vision {
    padding-right: 7.7vw;
  }

  .home #mission-vision h2, .page-template-template-home #mission-vision h2 {
    margin-left: 0;
    margin-bottom: 34px;
  }

  .home #mission-vision .col-xs-6, .page-template-template-home #mission-vision .col-xs-6 {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }

  .home #mission-vision .image-container, .page-template-template-home #mission-vision .image-container {
    margin-top: 50px;
    transform: translateX(7.7vw);
  }

  .home #mission-vision .image-container svg, .page-template-template-home #mission-vision .image-container svg {
    width: 100%;
    height: auto;
  }

  .home #mission-vision .image, .page-template-template-home #mission-vision .image .pinwheel {
    left: calc(-53px + 7.7vw);
  }

  .home #approach-services, .page-template-template-home #approach-services {
    padding-right: 7.7vw;
  }

  .home #approach-services .diagonal-line, .page-template-template-home #approach-services .diagonal-line {
    top: -20vw;
    left: 92vw;
    transform: rotate(50.6deg);
  }

  .home #approach-services .col-xs-6, .page-template-template-home #approach-services .col-xs-6 {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }

  .home #approach-services .services-container, .page-template-template-home #approach-services .services-container,
  .home #approach-services .button, .page-template-template-home #approach-services .button {
    margin-bottom: 60px;
  }

  .home #approach-services .images .image-container:first-child, .page-template-template-home #approach-services .images .image-container:first-child {
    width: 100%;
    height: 84.6vw;
  }

  .home #approach-services .images .image-container:last-child, .page-template-template-home #approach-services .images .image-container:last-child {
    width: 100%;
    height: 60.625vw;
    border-top-left-radius: 30vw;
    border-bottom-left-radius: 30vw;
  }

  .home #resources, .page-template-template-home #resources {
    padding-top: 60px;
    padding-right: 7.7vw;
  }

  .home #resources h2, .page-template-template-home #resources h2 {
    text-align: left;
    transform: none;
  }

  .home #resources .col-xs-3:nth-child(1), .page-template-template-home #resources .col-xs-3 {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
    padding: 0 !important;
  }

  .home #resources .col-xs-3 .date, .page-template-template-home #resources .col-xs-3 .date {
    margin-bottom: 30px;
  }

  .home #resources .col-xs-3 h3, .page-template-template-home #resources .col-xs-3 h3 {
    font-size: 20px;
    line-height: 32px;
  }

  .home #resources .col-xs-3 .author, .page-template-template-home #resources .col-xs-3 .author {
    margin-top: 12px;
  }

  .home #resources .col-xs-3 .read-more, .page-template-template-home #resources .col-xs-3 .read-more {
    margin-top: 40px;
  }

  .home #resources .pills-container .pill, .page-template-template-home #resources .pills-container .pill {
    width: 2vw;
    margin-right: 5.7vw;
  }

  .home #know-your-own-bone, .page-template-template-home #know-your-own-bone {
    padding: 60px 7.7vw 80px 0;
  }
}
