//
// Name:            Resource Detail
//
// Description:     Contains all style definitions concerning basic
//					structure and layout
//
// ========================================================================
// Component: Resource Detail Page
// ========================================================================
.single,
.single-post,
.default {
  .main {
    padding: 50px 10.3vw 0;
  }

  header.header {
    position: relative;
  }

  #banner {
    .date {
      border-bottom: 2px solid $impact-peach;
      color: $impact-blue-dark;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 24px;
      margin-top: 53px;
      margin-bottom: 30px;
      padding-bottom: 20px;
    }

    h1 {
      font-size: 65px;
      line-height: 80px;
    }

    .author {
      color: $impact-blue-dark;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 24px;
      margin-top: 30px;
    }

    .image-container {
      width: 100%;
      height: 39vw;
      border-bottom-right-radius: 6.9vw;
      margin-top: 50px;
    }

    .tags {
      padding: 0;

      li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
      }
    }
  }

  #blog {
    padding: 11.2vw 0 10.4vw;

    .blog-container {
      margin-bottom: 30px;
      padding: 0 13.7vw 120px;
      border-bottom: 2px solid $impact-peach;
    }

    h2 {
      margin: 45px 0;

      &:first-child {
        margin-top: 0;
      }
    }

    h3 {
      color: $impact-blue-dark;
      margin: 60px 0;

      &:first-child {
        margin-top: 0;
      }
    }

    .image-container {
      width: calc(100% + 4vw);
      height: 26.5vw;
      border-bottom-right-radius: 6.9vw;
      margin: 88px 0 88px -2vw;
    }
  }

  #know-your-own-bone {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 1024px) {
  .single .main, .single-post .main, .default .main {
    padding: 50px 5.2vw 0;
  }

  .single #banner h1, .single-post #banner h1, .default #banner h1{
    font-size: 55px;
    line-height: 70px;
  }

  .single #blog, .single-post #blog {
    padding: 80px 0;
  }

  .default #blog {
    padding: 0 0 80px;
  }

  .single #blog .blog-container, .single-post #blog .blog-container, .default #blog .blog-container {
    padding: 0 10vw 100px;
  }

  .single #blog h3, .single-post #blog h3, .default #blog h3 {
    margin: 30px 0;
  }

  .single #blog .image-container, .single-post #blog .image-container, .default #blog .image-container {
    height: 38vw;
    margin: 40px 0 40px -2vw;
  }
}

@media (max-width: 581px) {
  .single .main, .single-post .main, .default .main {
    padding: 50px 6.2vw 0;
  }

  .single #banner h1, .single-post #banner h1, .default #banner h1 {
    font-size: 30px;
    line-height: 38px;
  }

  .single #blog, .single-post #blog {
    padding: 40px 0;
  }

  .default #blog {
    padding: 0 0 40px;
  }

  .single #blog h2, .single-post #blog h2, .default #blog h2 {
    font-size: 28px;
    line-height: 40px;
  }

  .single #blog h3, .single-post #blog h3, .default #blog h3 {
    font-size: 20px;
    line-height: 32px;
  }

  .single #blog .blog-container, .single-post #blog .blog-container, .default #blog .blog-container {
    padding: 0 0 100px;
  }

  .single #blog .image-container, .single-post #blog .image-container, .default #blog .image-container {
    width: 100%;
    height: 52vw;
    margin: 40px 0;
  }
}