//
// Name:            Resources
//
// Description:     Contains all style definitions concerning basic
//					structure and layout
//
// ========================================================================
// Component: Resources Page
// ========================================================================
body.page-template-template-resources,
body.page-template-template-resource-category,
body.category {
  .main {
    padding-left: 10.3vw;
    padding-right: 9.3vw;
  }

  #banner {
    padding-top: 3vw;
    padding-bottom: 6.8vw;

    h1 {
      font-size: 100px;
      line-height: 96px;
    }

    .col-xs-6 {
      &:last-child {
        padding-left: 6vw;

        p {
          color: $impact-peach;
        }
      }
    }
  }

  #featured-post {
    padding-bottom: 5.8vw;

    .image-container {
      width: 100%;
      height: 39vw;
      border-bottom-right-radius: 6.9vw;
    }

    .tag {
      position: absolute;
      top: 15px;
      right: 15px;
    }

    .date {
      max-width: 58.9vw;
      padding-right: 4.7vw;
      background: #0D0D0D;
      border-top-right-radius: 6.9vw;
      margin-top: -50px;
      position: relative;

      p {
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        border-bottom: 2px solid $impact-blue-dark;
        padding: 40px 0 20px;
      }
    }

    a {
      color: $impact-peach;
      display: inline-block;
      margin-top: 30px;

      h2 {
        border: 2px solid transparent;
        transition: all .25s ease-in-out;
      }

      &:hover {
        h2 {
          color: $impact-orange-light;
        }
      }

      &:focus {
        h2 {
          border-color: $impact-orange-light;
          color: $impact-peach;
        }
      }
    }

    h2 {
      max-width: 58.9vw;
      font-size: 32px;
      line-height: 40px;
    }

    .author {
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
    }
  }

  #posts-section {
    padding-top: 5.8vw;

    .filters {
      margin-bottom: 90px;

      .filter-group {
        display: flex;
        align-items: center;
        -ms-flex-align: center;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }

        .label {
          font-size: 14px;
          font-weight: 600;
          color: #FFF4E4;
          line-height: 24px;
          margin-top: -12px;
          white-space: nowrap;
        }

        ul {
          display: flex;
          flex-wrap: wrap;
          list-style: none;
          margin-top: 0;
          margin-left: 12px;
          padding: 0;

          li {
            margin-bottom: 12px;
            margin-right: 12px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }

    .row {
      margin-bottom: auto;

      .date {
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        padding-bottom: 10px;
        border-bottom: 2px solid $impact-blue-dark;
      }

      a {
        display: block;

        h3 {
          border: 2px solid transparent;
          transition: all .25s ease-in-out;
        }

        &:hover {
          h3 {
            color: $impact-orange-light;
          }
        }

        &:focus {
          h3 {
            border-color: $impact-orange-light;
            color: $impact-peach;
          }
        }
      }

      h3 {
        font-size: 24px;
        color: $impact-peach;
        line-height: 32px;
        margin-top: 20px;
      }

      .author {
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
      }

      .text-link {
        display: inline-block;
        margin-top: 20px;
      }
    }

    .popular-posts {
      width: 263px;
      max-width: 263px;
      flex-basis: 263px;

      h2 {
        width: 100%;
        background: $impact-beige;
        color: $color-black;
        display: inline-block;
        font-size: 32px;
        line-height: 40px;
        padding: 15px 0;
        text-align: center;
        border-top-left-radius: 10vw;
        border-bottom-left-radius: 10vw;
      }

      .popular-post {
        width: 100%;
        margin-top: 60px;
      }
    }

    .col-xs-8 {
      width: calc(100% - 263px);
      max-width: calc(100% - 263px);
      flex-basis: calc(100% - 263px);
      padding-left: 8.9vw;

      .col-xs-6 {
        margin-bottom: 80px;

        &:nth-child(odd) {
          padding-right: 1.7vw;
        }

        &:nth-child(even) {
          padding-left: 1.7vw;
        }

        .image-container {
          width: 100%;
          height: calc(((69.8vw - 263px) / 2) * .64);
          background: $impact-orange-dark;
          border-top-right-radius: calc((((69.8vw - 263px) / 2) * .64) / 2);
          border-bottom-right-radius: calc((((69.8vw - 263px) / 2) * .64) / 2);
        }
      }
    }

    .pagination {
      margin-top: 70px;
      text-align: center;

      .pagination-btn {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        color: $color-white;
        display: inline-block;
        font-weight: 600;
        line-height: 34px;
        vertical-align: middle;
        position: relative;
        text-align: center;

        .label {
          width: 100%;
          height: 100%;
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          word-wrap: break-word;
        }

        &:hover {
          background: $impact-blue;
        }

        &:focus {
          border: 2px solid $impact-blue;
        }
      }

      ul {
        display: inline-block;
        vertical-align: middle;
        list-style: none;
        margin-top: 0;
        padding: 0;

        li {
          min-width: 34px;
          height: 34px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 15px;

          &:last-child {
            margin-right: 0;
          }

          a,
          span {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            color: $impact-beige;
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
            line-height: 34px;
            text-align: center;

            &.current {
              border: 2px solid $impact-peach;
            }

            &.dots {
              letter-spacing: 4vw;
              margin-right: -2vw;
              text-align: right;
            }
          }

          a:hover {
            background: $impact-blue;
          }

          a:focus {
            border: 2px solid $impact-blue;
          }
        }
      }
    }
  }

  #know-your-own-bone {
    padding: 8.5vw 0;
  }
}

@media (max-width: 1024px) {
  body.page-template-template-resources .main,
  body.page-template-template-resource-category .main,
  body.category .main {
    padding-left: 5.2vw;
    padding-right: 5.2vw;
  }

  body.page-template-template-resources #banner h1,
  body.page-template-template-resource-category #banner h1,
  body.category #banner h1 {
    font-size: 80px;
  }

  body.page-template-template-resources #posts-section .col-xs-8,
  body.page-template-template-resource-category #posts-section .col-xs-8,
  body.category #posts-section .col-xs-8 {
    padding-left: 4vw;
  }

  body.page-template-template-resources #posts-section .col-xs-8 .col-xs-6 .image-container,
  body.page-template-template-resource-category #posts-section .col-xs-8 .col-xs-6 .image-container,
  body.category #posts-section .col-xs-8 .col-xs-6 .image-container {
    height: calc(((82.2vw - 263px) / 2) * .64);
    border-top-right-radius: calc((((82.2vw - 263px) / 2) * .64) / 2);
    border-bottom-right-radius: calc((((82.2vw - 263px) / 2) * .64) / 2);
  }

  body.page-template-template-resources #posts-section .popular-posts,
  body.page-template-template-resources #posts-section .col-xs-8,
  body.page-template-template-resource-category #posts-section .popular-posts,
  body.page-template-template-resource-category #posts-section .col-xs-8,
  body.category #posts-section .popular-posts,
  body.category #posts-section .col-xs-8 {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }

  body.page-template-template-resources #posts-section .popular-posts,
  body.page-template-template-resource-category #posts-section .popular-posts,
  body.category #posts-section .popular-posts {
    margin-bottom: 70px;
  }

  body.page-template-template-resources #posts-section .popular-posts h2,
  body.page-template-template-resource-category #posts-section .popular-posts h2,
  body.category #posts-section .popular-posts h2 {
    width: 263px;
  }

  body.page-template-template-resources #posts-section .popular-posts .posts-container,
  body.page-template-template-resource-category #posts-section .popular-posts .posts-container,
  body.category #posts-section .popular-posts .posts-container {
    display: flex;
    flex-wrap: wrap;
  }

  body.page-template-template-resources #posts-section .popular-posts .popular-post,
  body.page-template-template-resource-category #posts-section .popular-posts .popular-post,
  body.category #posts-section .popular-posts .popular-post {
    width: 50%;
    max-width: none;
  }

  body.page-template-template-resources #posts-section .popular-posts .popular-post:nth-child(odd),
  body.page-template-template-resource-category #posts-section .popular-posts .popular-post:nth-child(odd),
  body.category #posts-section .popular-posts .popular-post:nth-child(odd) {
    padding-right: 1.7vw;
  }

  body.page-template-template-resources #posts-section .popular-posts .popular-post:nth-child(even),
  body.page-template-template-resource-category #posts-section .popular-posts .popular-post:nth-child(even),
  body.category #posts-section .popular-posts .popular-post:nth-child(even) {
    padding-left: 1.7vw;
  }

  body.page-template-template-resources #posts-section .col-xs-8,
  body.page-template-template-resource-category #posts-section .col-xs-8,
  body.category #posts-section .col-xs-8 {
    padding-left: 0;
  }

  body.page-template-template-resources #posts-section .col-xs-8 .col-xs-6 .image-container,
  body.page-template-template-resource-category #posts-section .col-xs-8 .col-xs-6 .image-container,
  body.category #posts-section .col-xs-8 .col-xs-6 .image-container {
    height: calc((86.2vw / 2) * .64);
    border-top-right-radius: calc(((86.2vw / 2) * .64) / 2);
    border-bottom-right-radius: calc(((86.2vw / 2) * .64) / 2);
  }
}

@media (max-width: 768px) {
  body.page-template-template-resources .main,
  body.page-template-template-resource-category .main,
  body.category .main {
    padding-left: 6.2vw;
    padding-right: 6.2vw;
  }

  body.page-template-template-resources #banner h1,
  body.page-template-template-resource-category #banner h1,
  body.category #banner h1 {
    font-size: 65px;
  }

  body.page-template-template-resources #banner .col-xs-6:last-child,
  body.page-template-template-resource-category #banner .col-xs-6:last-child,
  body.category #banner .col-xs-6:last-child {
    padding-left: 3vw;
  }
}

@media (max-width: 581px) {
  body.page-template-template-resources #banner .col-xs-6,
  body.page-template-template-resource-category #banner .col-xs-6,
  body.category #banner .col-xs-6 {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }

  body.page-template-template-resources #banner .col-xs-6:first-child,
  body.page-template-template-resource-category #banner .col-xs-6:first-child,
  body.category #banner .col-xs-6:first-child {
    margin-bottom: 30px;
  }

  body.page-template-template-resources #banner .col-xs-6:last-child,
  body.page-template-template-resource-category #banner .col-xs-6:last-child,
  body.category #banner .col-xs-6:last-child {
    padding-left: 0;
  }

  body.page-template-template-resources #featured-post .image-container,
  body.page-template-template-resource-category #featured-post .image-container,
  body.category #featured-post .image-container {
    height: 53vw;
  }

  body.page-template-template-resources #featured-post .date,
  body.page-template-template-resource-category #featured-post .date,
  body.category #featured-post .date {
    margin-top: -25px;
  }

  body.page-template-template-resources #featured-post .date p,
  body.page-template-template-resource-category #featured-post .date p,
  body.category #featured-post .date p, body.search #featured-post .date p {
    padding: 10px 0;
  }

  body.page-template-template-resources #featured-post h2,
  body.page-template-template-resource-category #featured-post h2,
  body.category #featured-post h2 {
    max-width: none;
    font-size: 28px;
  }

  body.page-template-template-resources #posts-section .filters .filter-group,
  body.page-template-template-resource-category #posts-section .filters .filter-group,
  body.category #posts-section .filters .filter-group {
    flex-direction: column;
    align-items: flex-start;
    -ms-flex-align: start;
    margin-bottom: 30px;
  }

  body.page-template-template-resources #posts-section .filters .filter-group .label,
  body.page-template-template-resource-category #posts-section .filters .filter-group .label,
  body.category #posts-section .filters .filter-group .label {
    margin-top: 0;
    margin-bottom: 10px;
  }

  body.page-template-template-resources #posts-section .filters .filter-group ul,
  body.page-template-template-resource-category #posts-section .filters .filter-group ul,
  body.category #posts-section .filters .filter-group ul {
    margin-left: 0;
  }

  body.page-template-template-resources #posts-section .popular-posts h2,
  body.page-template-template-resource-category #posts-section .popular-posts h2,
  body.category #posts-section .popular-posts h2 {
    width: 225px;
    font-size: 28px;
    line-height: 40px;
    padding: 12px 0;
  }

  body.page-template-template-resources #posts-section .popular-posts .popular-post,
  body.page-template-template-resource-category #posts-section .popular-posts .popular-post,
  body.category #posts-section .popular-posts .popular-post {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
    padding: 0!important;
  }

  body.page-template-template-resources #posts-section .col-xs-8 .col-xs-6,
  body.page-template-template-resource-category #posts-section .col-xs-8 .col-xs-6,
  body.category #posts-section .col-xs-8 .col-xs-6 {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
    padding: 0!important;
    margin-bottom: 0;
  }

  body.page-template-template-resources #posts-section .col-xs-8 .col-xs-6 + .col-xs-6,
  body.page-template-template-resource-category #posts-section .col-xs-8 .col-xs-6 + .col-xs-6,
  body.category #posts-section .col-xs-8 .col-xs-6 + .col-xs-6 {
    margin-top: 60px;
  }

  body.page-template-template-resources #posts-section .col-xs-8 .col-xs-6 .image-container,
  body.page-template-template-resource-category #posts-section .col-xs-8 .col-xs-6 .image-container,
  body.category #posts-section .col-xs-8 .col-xs-6 .image-container {
    height: calc(89.6vw * .64);
    border-top-right-radius: calc(89.6vw * .64);
    border-bottom-right-radius: calc(89.6vw * .64);
  }

  body.page-template-template-resources #posts-section .row h3,
  body.page-template-template-resource-category #posts-section .row h3,
  body.category #posts-section .row h3 {
    font-size: 21px;
  }

  body.page-template-template-resources #posts-section .pagination ul li a.dots,
  body.page-template-template-resources #posts-section .pagination ul li span.dots,
  body.page-template-template-resource-category #posts-section .pagination ul li a.dots,
  body.page-template-template-resource-category #posts-section .pagination ul li span.dots,
  body.category #posts-section .pagination ul li a.dots,
  body.category #posts-section .pagination ul li span.dots {
    letter-spacing: 2px;
    margin-right: 0;
    text-align: center;
  }

  body.page-template-template-resources #posts-section .pagination ul li,
  body.page-template-template-resource-category #posts-section .pagination ul li,
  body.category #posts-section .pagination ul li {
    margin-right: -2px;
  }
}