//
// Name:            Services
//
// Description:     Contains all style definitions concerning basic
//					structure and layout
//
// ========================================================================
// Component: Services Page
// ========================================================================
.page-template-template-services {
  .main {
    padding: 25.5vw 10.3vw 0;
  }

  #banner {
    h1 {
      font-size: 14px;
      font-weight: bold;
      color: $impact-blue-dark;
      line-height: 24px;
    }

    .headline {
      font-size: 65px;
      line-height: 80px;
    }

    .row {
      margin-top: 100px;
      padding: 0 6.9vw;
    }

    .col-xs-6 {
      &:last-child {
        padding-left: 15vw;
      }

      .label {
        font-size: 14px;
        font-weight: bold;
        color: $impact-blue-dark;
        line-height: 24px;
      }

      ul {
        list-style: none;
        margin-top: 30px;
        padding-left: 0;

        li {
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .service-section {
    margin-top: 157px;

    .intro {
      margin-bottom: 80px;
      position: relative;

      .pinwheel {
        top: 80px;
        bottom: auto;
        left: 6.7vw;
        z-index: 3;
      }

      .bg {
        width: 100%;
        height: 100%;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;

        .shape {
          width: calc(100% / 3);
          height: 100%;
          background: $color-black;

          &:nth-child(2),
          &:nth-child(3) {
            border-top-left-radius: calc((79.7vw / 3) / 2);
            border-top-right-radius: calc((79.7vw / 3) / 2);
          }
        }
      }

      .text-cnt {
        padding: 250px 6.7vw 110px;
        position: relative;
        z-index: 1;

        .col-xs-6 {
          &:last-child {
            padding-left: 1.2vw;
          }
        }

        h2, p {
          color: $impact-beige;
        }
      }

      & + .accordion {
        border-top: 2px solid $impact-blue-dark;
      }
    }

    .accordion {
      border-bottom: 2px solid $impact-blue-dark;
      padding: 30px 0;

      h3 {
        color: $impact-blue-dark;
        font-weight: 600;
        margin-bottom: 24px;
      }

      .row {
        display: none;
        padding: 51px 0 75px;
      }

      h4 {
        font-size: 14px;
        font-weight: bold;
        color: $impact-blue-dark;
        line-height: 24px;
      }

      .col-xs-6 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:first-child {
          padding-right: 6vw;

          ul {
            list-style: none;
            padding: 0;
          }
        }

        &:last-child {
          padding-left: 6vw;
        }
      }

      .text-cnt {
        height: 100%;
      }

      .info-group {
        margin-bottom: 60px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      li {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }

        span {
          font-weight: bold;
        }
      }

      .button {
        margin-top: 70px;
        margin-right: auto;
      }
    }
  }

  #know-your-own-bone {
    padding-top: 8vw;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 1024px) {
  .page-template-template-services .main {
    padding-left: 5.2vw;
    padding-right: 5.2vw;
  }

  .page-template-template-services #banner .headline {
    font-size: 50px;
    line-height: 65px;
  }

  .page-template-template-services #banner .row {
    margin-top: 50px;
  }

  .page-template-template-services #banner .col-xs-6:last-child {
    padding-left: 10vw;
  }

  .page-template-template-services .service-section .intro .bg .shape:nth-child(2),
  .page-template-template-services .service-section .intro .bg .shape:nth-child(3) {
    border-top-left-radius: calc((89.6vw / 3) / 2);
    border-top-right-radius: calc((89.6vw / 3) / 2);
  }

  .page-template-template-services .service-section .intro .pinwheel {
    top: 40px;
  }

  .page-template-template-services .service-section .intro .text-cnt {
    padding: 200px 4.5vw 110px;
  }

  .page-template-template-services .service-section .intro .text-cnt h2 {
    font-size: 42px;
  }

  .page-template-template-services .service-section .intro .text-cnt .col-xs-6:first-child {
    width: 40%;
    max-width: 40%;
    flex-basis: 40%;
  }

  .page-template-template-services .service-section .intro .text-cnt .col-xs-6:last-child {
    width: 60%;
    max-width: 60%;
    flex-basis: 60%;
    padding-left: 6vw;
  }
}

@media (max-width: 581px) {
  .page-template-template-services .main {
    padding: 150px 6.2vw 0;
  }

  .page-template-template-services #banner .headline {
    font-size: 32px;
    line-height: 38px;
  }

  .page-template-template-services #banner .row {
    margin-top: 30px;
    padding: 0;
  }

  .page-template-template-services #banner .col-xs-6 {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
    margin-bottom: 30px;
    padding: 0!important;
  }

  .page-template-template-services #banner .col-xs-6:last-child {
    margin-bottom: 0;
  }

  .page-template-template-services .service-section {
    margin-top: 80px;
  }

  .page-template-template-services .service-section .intro {
    margin-bottom: 40px;
  }

  .page-template-template-services .service-section .intro .pinwheel {
    width: 60px;
    height: 60px;
  }

  .page-template-template-services .service-section .intro .text-cnt {
    padding: 150px 6vw 50px;
  }

  .page-template-template-services .service-section .intro .text-cnt .col-xs-6:first-child,
  .page-template-template-services .service-section .intro .text-cnt .col-xs-6:last-child {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }

  .page-template-template-services .service-section .intro .text-cnt .col-xs-6:first-child {
    margin-bottom: 30px;
  }

  .page-template-template-services .service-section .accordion {
    padding: 15px 0;
  }

  .page-template-template-services .service-section .accordion .row {
    padding-top: 0;
    padding-bottom: 50px;
  }

  .page-template-template-services .service-section .accordion .col-xs-6 {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
    padding: 0!important;
  }

  .page-template-template-services .service-section .accordion .col-xs-6:first-child {
    margin-bottom: 30px;
  }

  .page-template-template-services .service-section .accordion .info-group {
    margin-bottom: 30px;
  }
}