//
// Name:            Sitemap
//
// Description:     Contains all style definitions concerning basic
//					structure and layout
//
// ========================================================================
// Component: Sitemap Page
// ========================================================================
body.sitemap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    padding: 300px 10.3vw 100px;
  }

  .page-list {
    li {
      a {
        background: none;
        border: 2px solid transparent;
        display: inline-block;
        font-family: 'DMSans', sans-serif;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 2px;
        line-height: initial;
        padding: 0;
        position: relative;
        text-transform: uppercase;
        transition: all .25s ease-in-out;
        -webkit-appearance: none;
      }
    }
  }

  footer {
    margin-top: auto;
  }

  &.dark-bg {
    .page-list {
      li {
        a {
          color: $impact-beige;

          &:hover {
            color: $impact-orange-light;
          }

          &:focus {
            border-color: $impact-orange-light;
            color: $impact-beige;
          }
        }
      }
    }
  }

  &.light-bg {
    .page-list {
      li {
        a {
          color: $impact-blue;

          &:hover {
            color: $impact-blue-dark;
          }

          &:focus {
            border-color: $color-black;
            color: $impact-blue;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  body.sitemap main {
    padding: 250px 5.2vw 100px;
  }
}

@media (max-width: 768px) {
  body.sitemap main {
    padding: 200px 5.2vw 100px;
  }
}

@media (max-width: 581px) {
  body.sitemap main {
    padding: 150px 6.2vw 50px;
  }
}
