{{>../header/_head additionalClasses="light-bg"}}
{{>../header/_header about=true}}
<main id="main" class="main">
    <section id="banner">
        <h1>About Us</h1>
        <p class="primary-text">Our aim is to lead the change in how cultural executives approach business decisions,
            moving from “best practices” based on guesswork to strategies based on facts.</p>
        <div class="row">
            <div class="col-xs-6">
                <p>Creative leadership in a rapidly changing world is about finding the right balance between clarity
                    and chaos. Using market research and trend analysis, IMPACTS Experience guides cultural executives
                    to approach business decisions from “best practices” based on guesswork to strategies based on
                    facts. IMPACTS’s primary expertise is developing intelligence to predict discretionary consumer
                    behaviors – the kind of information that helps organizations understand not only what their
                    constituents are doing, but also why they are doing it.</p>
            </div>
            <div class="col-xs-6">
                <p>With high-confidence data gleaned from the largest in-market survey of cultural organization visitors
                    in the US, we remove the guesswork surrounding audience behaviors, motivations, and perceptions.
                    Museums, zoos, aquariums, botanic gardens, historic sites, and other cultural organizations face new
                    behavioral trends and shifting demographics. We help leaders take action to create sustainable
                    business practices that lead to increased attendance, support, and mission execution, and ensure the
                    long-term solvency of their organizations.
                </p>
            </div>
        </div>
    </section>
    <section id="the-story">
        <h2>the story</h2>
        <div class="row">
            <div class="col-xs-9 col-xs-offset-3">
                <p>IMPACTS Experience is a branch of IMPACTS Research & Development, a private company that provides
                    predictive intelligence to inform development, economic, marketing and policy strategies.</p>
                <p>The venture which would become IMPACTS Experience originally grew out of the website Know Your Own
                    Bone, a blog started in 2009 by Chief Market Engagement Officer Colleen Dilenschneider. Aiming to
                    explore creative engagement in museums and cultural centers, Dilenschneider soon gained a wide
                    following within the field. When she was hired by IMPACTS in 2011, the website evolved into a living
                    “resource website” sharing primary source data, with a majority of readers in leadership positions
                    at visitor-serving organizations. Today, Know Your Own Bone is frequently cited as a primary
                    resource within the cultural industry, with a lengthy subscriber list of cultural executives and
                    board members from leading entities.</p>
                <p>With the aim of making market research even more accessible and applicable to individual
                    institutions, IMPACTS Research & Development began offering workshops and data-driven discussions
                    for major institutions and cultural communities in 2018, and formally established IMPACTS Experience
                    as a separate arm of the company in 2019.</p>
                <p>We share 95%+ confidence market research necessary for understanding behavioral and perceptual trends
                    impacting cultural organizations – not only amongst people who visit them, but – critically – also
                    amongst the people who do not. This kind of high-confidence, specialized research is still
                    staggeringly rare within the industry. We currently offer keynotes, lectures, and full-day,
                    half-day, and board workshops about specific organization types (i.e. art museums, historic sites,
                    etc.) as well as overall trends. Thanks to the volume of data we collect, we are also able to pull
                    findings within specific states and regions.</p>
                <p>From blog to resource to brand, IMPACTS Experience shines a data-informed light on opportunities to
                    best engage your audiences.</p>
            </div>
        </div>
    </section>
    <section class="testimonial-section right">
        <div class="bg">
            <div class="bg-inner row">
                <div class="col-xs-4"></div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4 mobile-only"></div>
            </div>
        </div>
        <div class="image-container">
            <img src="" data-src="images/earl-nichols.jpg" alt="Earl Nichols">
        </div>
        <div class="text-cnt">
            <h2>Earl Nichols, Job Title at Organization Name</h2>
            <p>“Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur.” </p>
            <a href="#" class="button">Learn more about our services</a>
        </div>
    </section>
    <section id="meet-the-team">
        <h2>meet the team</h2>
        <div class="row">
            <div class="col-xs-6 shape-1">
                <div class="image">
                    <div class="image-container">
                        <img src="" data-src="images/malvestida-magazine-unsplash.jpg" alt="team member name">
                    </div>
                    <div class="pinwheel"></div>
                </div>
            </div>
            <div class="col-xs-6">
                <h3 id="name-1">Colleen Dilenschneider</h3>
                <p class="title">Chief Market Engagement Officer</p>
                <button id="bio-toggle-1" class="text-link bio-button tablet-mobile-only" aria-controls="bio-1"
                        aria-expanded="true" aria-labelledby="bio-toggle-1 name-1">Read Bio ></button>
                <div id="bio-1" class="bio" aria-hidden="false" aria-labelledby="name-1">
                    <p>Widely regarded as a leader of the next generation of nonprofit executive management, Colleen
                        oversees multiple audience engagement initiatives on behalf of clients in the nonprofit and
                        cultural sectors. Colleen uses data to both identify and predict emerging market opportunities,
                        and helps nonprofit organizations maintain their relevance and secure their long-term financial
                        futures by building affinity with their onsite and virtual audiences. Colleen has worked with
                        many of the most admired and successful clients in the nonprofit realm, including projects
                        concerning the Monterey Bay Aquarium, California Academy of Sciences, Carnegie Museums, Stanford
                        University, Exploratorium, John G. Shedd Aquarium, Tennessee Aquarium, United Nations
                        Educational, Scientific and Cultural Organization (UNESCO), San Diego Zoo, and Wildlife
                        Conservation Society. Colleen currently serves on the Board of Directors at the National
                        Aquarium.</p>
                    <p>Colleen is the author and publisher of the popular website Know Your Own Bone, a data-informed,
                        strategic resource for cultural organizations, and has been a featured expert in sources ranging
                        from NPR’s Marketplace to The Wall Street Journal. She has been prominently featured in many
                        national museum publications, and as required reading for museum studies and professional
                        development programs nationwide.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 shape-2">
                <div class="image">
                    <div class="image-container">
                        <img src="" data-src="images/malvestida-magazine-unsplash.jpg" alt="team member name">
                    </div>
                    <div class="plot-graph">
                        <svg width="526px" height="292px" viewBox="0 0 526 292">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g transform="translate(-95.000000, -5547.000000)" fill="#FEC0AA">
                                    <g transform="translate(95.750000, 5547.078835)">
                                        <circle cx="170.5" cy="197.5" r="4.5"></circle>
                                        <circle cx="184" cy="212" r="4.5"></circle>
                                        <circle cx="355.5" cy="243.5" r="4.5"></circle>
                                        <circle cx="143.5" cy="83.4211654" r="4.5"></circle>
                                        <circle cx="134.5" cy="4.5" r="4.5"></circle>
                                        <circle cx="40.5" cy="139.5" r="4.5"></circle>
                                        <circle cx="130" cy="281" r="4.5"></circle>
                                        <circle cx="4.5" cy="102" r="4.5"></circle>
                                        <circle cx="52.5" cy="261.5" r="4.5"></circle>
                                        <circle cx="45" cy="229.5" r="4.5"></circle>
                                        <circle cx="520" cy="286.5" r="4.5"></circle>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <h3 id="name-2">Jim Hekker</h3>
                <p class="title">Chief Strategy Office</p>
                <button id="bio-toggle-2" class="text-link bio-button tablet-mobile-only" aria-controls="bio-2"
                        aria-expanded="true" aria-labelledby="bio-toggle-2 name-2">Read Bio ></button>
                <div id="bio-2" class="bio" aria-hidden="false" aria-labelledby="name-2">
                    <p>Jim Hekkers specializes in leveraging his extensive experience in the world of visitor-serving
                        organizations as a consultant with leadership at nonprofit organizations with a focus on
                        strategic planning, management, and market research. Hekkers served as the managing director of
                        the Monterey Bay Aquarium from 2001 to 2015, where he oversaw the senior management team,
                        day-to-day operations, and all strategic and exhibition planning. He simultaneously served on
                        the boards of the National Steinbeck Center, the American Association of Zoos and Aquariums, the
                        Monterey County Convention and Visitors Bureau, the Pacific Grove Museum Association, and now
                        the Colorado School of Mines Geology Museum. Hekkers has also served as the president and chief
                        executive officer of the Colorado’s Ocean Journey aquarium in Denver and the marketing director
                        for the Tennessee Aquarium in Chattanooga. His expertise with and fascination for robust market
                        research helps him facilitate strategic plans for IMPACTS’ clients by leveraging incredible
                        data-driven insights into charting more data-informed futures.</p>
                    <p>With a bachelor’s degree in journalism from Colorado State University, and a master’s of
                        nonprofit management degree from Regis University, Hekkers taught collaboration, leadership, and
                        planning classes at California State University Monterey Bay for many years. A popular speaker,
                        he has presented at dozens of zoo, aquarium, and museum conferences in the United States and
                        abroad, and he has published more than 20 major articles, book chapters, and professional papers
                        to date.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 shape-3">
                <div class="image">
                    <div class="image-container">
                        <img src="" data-src="images/malvestida-magazine-unsplash.jpg" alt="team member name">
                    </div>
                    <div class="blue-circle"></div>
                </div>
            </div>
            <div class="col-xs-6">
                <h3 id="name-3">Bethany Corriveau Gotschall</h3>
                <p class="title">Project Coordinator, Know Your Own Bone</p>
                <button id="bio-toggle-3" class="text-link bio-button tablet-mobile-only" aria-controls="bio-3"
                        aria-expanded="true" aria-labelledby="bio-toggle-3 name-3">Read Bio ></button>
                <div id="bio-3" class="bio" aria-hidden="false" aria-labelledby="name-3">
                    <p>Bethany Corriveau Gotschall provides administrative support for Know Your Own Bone, IMPACTS VSO.
                        A creative yet practical thinker, Bethany’s focus as a museum professional is on developing
                        innovative, engaging, and welcoming museum experiences informed by data and market research.
                        Bethany has experience in museum education, interpretation, and public programs, formerly
                        serving as Audience Engagement Specialist at the Cleveland Museum of Art from 2012 to 2017 where
                        she oversaw the museum’s programming for adult audiences, contributed to content development for
                        the ArtLens mobile app, and served on the interpretation team for CMA’s interactive technology
                        space ArtLens Gallery.</p>
                    <p>She has presented on public programs and interpretation at several conferences and events,
                        including MuseumNext, American Alliance of Museums, Museums and the Web, and the Ohio Museums
                        Association, and has published a chapter in Interpreting the Art Museum (MuseumsEtc., 2015).
                        Bethany has a bachelor’s degree in art history from Albion College and a master’s degree in art
                        history and museum studies from Case Western Reserve University.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonial-section left">
        <div class="bg">
            <div class="bg-inner row">
                <div class="col-xs-4"></div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4 mobile-only"></div>
            </div>
        </div>
        <div class="text-cnt">
            <h2>Earl Nichols, Job Title at Organization Name</h2>
            <p>“Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur.” </p>
            <a href="#" class="button">Learn more about our services</a>
        </div>
        <div class="image-container">
            <img src="" data-src="images/earl-nichols.jpg" alt="Earl Nichols">
        </div>
    </section>
    <section id="careers">
        <div class="diagonal-line"></div>
        <div class="row">
            <div class="col-xs-6">
                <h2>careers</h2>
                <p>Data nerd? Museum geek? Passionate about creating authentic, engaging experiences everywhere from art
                    museums to zoos? You just might fit in. </p>
                <a href="/contact.html" class="button">Contact Us</a>
            </div>
            <div class="col-xs-6">
                <div class="image-container">
                    <img src="" data-src="images/careers-stockphoto.jpg" alt="team meeting">
                </div>
                <div class="image-container">
                    <img src="" data-src="images/careers-stockphoto-2.jpg" alt="company presentation">
                </div>
            </div>
        </div>
    </section>
    {{> ../modules/_know-your-bones}}
</main>
{{> ../footer/_footer}}
{{> ../footer/_foot}}