{{>../header/_head additionalClasses="light-bg"}}
{{>../header/_header approach=true}}
<main id="main" class="main">
    <section id="banner">
        <h1>Our Approach</h1>
        <p class="primary-text">This is an opening about approach. Lorem ipsum dolor sit amet, consectetur adipiscing
            elit, sed do eiusmod tempor incididunt ut labore et.</p>
        <div class="row">
            <div class="col-xs-4">
                <p class="stat">16%</p>
                <p class="description">of the US population has visited any kind of cultural organization - including
                    museums, zoos, aquariums, theaters, symphonies, and more - in the last two years. </p>
            </div>
            <div class="col-xs-4">
                <div class="stat">27 months</div>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-xs-4">
                <p class="stat">5.6%</p>
                <p class="description">is how much more satisfied visitors are with their experience if they follow an
                    organization on social media.</p>
            </div>
        </div>
    </section>
    <section id="the-data">
        <div class="row intro">
            <div class="col-xs-6 shapes">
                <div class="shapes-inner">
                    <div class="shape shape-1"></div>
                    <div class="shape shape-2"></div>
                </div>
            </div>
            <div class="col-xs-6">
                <h2>the data</h2>
                <div class="text-cnt">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
        <div class="row subsection">
            <div class="col-xs-6">
                <h3>National Attitudes, Awareness, and Usage Study</h3>
                <div class="text-cnt">
                    <p>Originally funded by IMPACTS in partnership with The David and Lucille Packard Foundation and
                        Monterey Bay Aquarium, the National Attitudes, Awareness, and Usage study (NAAU) is believed to
                        be the largest ongoing study of perceptions and behaviors related to visitor-serving
                        organizations in the United States.</p>
                    <p>The data and analyses derived from the NAAU are intended to help visitor-serving organizations
                        identify, understand, influence, and engage their target audiences. The NAAU provides the type
                        of robust, representative intelligence organizations require to remain relevant and vital in an
                        increasingly competitive world.</p>
                </div>
            </div>
            <div class="col-xs-6 shapes">
                <div class="people-container-1">
                    <div class="row">
                        <div class="col-xs-3 person">
                            <div class="head peach"></div>
                            <div class="torso black"></div>
                            <div class="legs">
                                <div class="leg blue"></div>
                                <div class="leg blue"></div>
                            </div>
                        </div>
                        <div class="col-xs-3 person">
                            <div class="head black"></div>
                            <div class="torso orange"></div>
                            <div class="legs">
                                <div class="leg peach"></div>
                                <div class="leg peach"></div>
                            </div>
                        </div>
                        <div class="col-xs-3 person">
                            <div class="head orange"></div>
                            <div class="torso black"></div>
                            <div class="legs">
                                <div class="leg peach"></div>
                                <div class="leg peach"></div>
                            </div>
                        </div>
                        <div class="col-xs-3 person">
                            <div class="head blue"></div>
                            <div class="torso peach"></div>
                            <div class="legs">
                                <div class="leg black"></div>
                                <div class="leg black"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 person">
                            <div class="head orange"></div>
                            <div class="torso blue"></div>
                            <div class="legs">
                                <div class="leg black"></div>
                                <div class="leg black"></div>
                            </div>
                        </div>
                        <div class="col-xs-3 person">
                            <div class="head peach"></div>
                            <div class="torso blue"></div>
                            <div class="legs">
                                <div class="leg orange"></div>
                                <div class="leg orange"></div>
                            </div>
                        </div>
                        <div class="col-xs-3 person">
                            <div class="head black"></div>
                            <div class="torso orange"></div>
                            <div class="legs">
                                <div class="leg peach"></div>
                                <div class="leg peach"></div>
                            </div>
                        </div>
                        <div class="col-xs-3 person">
                            <div class="head peach"></div>
                            <div class="torso black"></div>
                            <div class="legs">
                                <div class="leg orange"></div>
                                <div class="leg orange"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row  subsection">
            <div class="col-xs-6">
                <h3>Institutional Monitoring</h3>
                <div class="text-cnt">
                    <p>IMPACTS conducts ongoing data collection for 224 visitor-serving organizations in the United
                        States. These organizations include a variety of cultural organizations, from museums of
                        history, art, and science to zoos, aquariums, theaters, botanic gardens, parks, symphonies, and
                        other performing arts entities.</p>
                    <p>Monitoring these organizations helps highlight trends and allows for deeper dives into visitor
                        behaviors and perceptions when considered alongside the NAAU. Anonymized case studies may also
                        be used to spark discussions in workshops and webinars.</p>
                </div>
            </div>
            <div class="col-xs-6 shapes">
                <div class="trends-container">
                    <div class="trend">
                        <img src="images/trend-blue.svg" alt="trend dots">
                    </div>
                    <div class="trend">
                        <img src="images/trend-orange.svg" alt="trend dots">
                    </div>
                    <div class="trend">
                        <img src="images/trend-black.svg" alt="trend dots">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="collection">
        <div class="row intro">
            <div class="col-xs-6 shapes">
                <div class="shapes-inner">
                    <div class="shape shape-2"></div>
                    <div class="shape shape-2"></div>
                </div>
            </div>
            <div class="col-xs-6">
                <h2>collection</h2>
                <div class="text-cnt">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
        <div class="row subsection">
            <div class="col-xs-6">
                <h3>Intercepts</h3>
                <div class="text-cnt">
                    <p>In-person interviews with respondents occur nationwide and are particularly valuable in gaining
                        the participation of historically underserved and less documented market members (including
                        households where English is spoken as a second language).</p>
                </div>
            </div>
            <div class="col-xs-6 shapes">
                <div class="people-container-2">
                    <div class="person">
                        <div class="head peach"></div>
                        <div class="body"></div>
                    </div>
                    <div class="person">
                        <div class="head orange"></div>
                        <div class="body"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row  subsection">
            <div class="col-xs-6">
                <h3>RDD</h3>
                <div class="text-cnt">
                    <p>Random digit dialing of both landline and mobile numbers helps provide a random selection of
                        representative persons - including those with unpublished numbers - to participate in the data
                        collection process.</p>
                </div>
            </div>
            <div class="col-xs-6 shapes">
                <div class="buttons-container">
                    <div class="button-row">
                        <div class="button-graphic"></div>
                        <div class="button-graphic"></div>
                        <div class="button-graphic"></div>
                    </div>
                    <div class="button-row">
                        <div class="button-graphic"></div>
                        <div class="button-graphic"></div>
                        <div class="button-graphic"></div>
                    </div>
                    <div class="button-row">
                        <div class="button-graphic"></div>
                        <div class="button-graphic"></div>
                        <div class="button-graphic"></div>
                    </div>
                    <div class="button-row">
                        <div class="button-graphic peach"></div>
                        <div class="button-graphic"></div>
                        <div class="button-graphic peach"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row  subsection">
            <div class="col-xs-6">
                <h3>Online Sampling</h3>
                <div class="text-cnt">
                    <p>Online sampling designed to engage the participation of market members using both mobile and
                        traditional online platforms enables an extraordinary scale to the sampling effort. IMPACTS
                        validation processes help ensure the integrity of the online data sample.</p>
                </div>
            </div>
            <div class="col-xs-6 shapes">
                <div class="sampling-container">
                    <div class="sampling-graphic">
                        <div class="graphic-inner">
                            <div class="circle"></div>
                            <img src="images/sampling-orange.svg" alt="sampling data points" class="dots">
                        </div>
                    </div>
                    <div class="sampling-graphic">
                        <div class="graphic-inner">
                            <div class="circle"></div>
                            <img src="images/sampling-blue.svg" alt="sampling data points" class="dots">
                        </div>
                    </div>
                    <div class="sampling-graphic">
                        <div class="graphic-inner">
                            <div class="circle"></div>
                            <img src="images/sampling-black.svg" alt="sampling data points" class="dots">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="analysis">
        <div class="row intro">
            <div class="col-xs-6 shapes">
                <div class="shapes-inner">
                    <div class="shape shape-2"></div>
                    <div class="shape shape-3"></div>
                </div>
            </div>
            <div class="col-xs-6">
                <h2>analysis</h2>
                <div class="text-cnt">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
        <div class="row subsection">
            <div class="col-xs-6">
                <h3>Lexical Analysis</h3>
                <div class="text-cnt">
                    <p>The National Awareness, Attitudes, and Usage Study (NAAU) is not a traditional survey that asks
                        people to choose from a list of responses. Instead, the NAAU uses open-ended questions and
                        people respond in their own words. Then, we ask follow-up questions based upon that response.
                        (Haven’t been to a science center? Then we’re not going to ask you about the best part of your
                        visit. Instead, we’ll ask you why you haven’t visited. Open-ended queries and lexical analysis
                        yield richer insights than the normally stated responses to a survey would otherwise
                        provide.</p>
                </div>
            </div>
            <div class="col-xs-6 shapes">
                <div class="resize-container">
                    <div class="resize-shape grow"></div>
                    <div class="resize-shape"></div>
                </div>
            </div>
        </div>
        <div class="row  subsection">
            <div class="col-xs-6">
                <h3>Scalar Variables</h3>
                <div class="text-cnt">
                    <p>If you’ve ever answered a survey question asking, “On a scale of 1 to 10, with 1 being disagree
                        and 10 being completely agree,” you’ve seen scalar variables in action. Scalar variables are,
                        simply, values on a scale. Though more traditional scales use scales of 1-5 or 1-10, the
                        research processes developed by IMPACTS seek to maximize the variability of responses with
                        scales typically ranging from 1-100. Additionally, scalar variables are used in developing
                        equation models used to assess less readily measured factors through inference.</p>
                </div>
            </div>
            <div class="col-xs-6 shapes">
                <div class="scalar-container">
                    <div class="scalar-row">
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle active"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                    <div class="scalar-row">
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle active"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                    <div class="scalar-row">
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle active"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                    <div class="scalar-row">
                        <div class="circle active"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row  subsection">
            <div class="col-xs-6">
                <h3>Index Values</h3>
                <div class="text-cnt">
                    <p>Index values compare quantities to a base condition. Regardless of what is being measured, the
                        base condition is always set to 100, so comparative values are either increasing (i.e. >100) or
                        decreasing (i.e. <100). Using index values allows us to quickly extrapolate the difference
                        between a value and a base condition. For instance, a value of 110 is quickly recognized as
                        being 10% greater than the base condition.</p>
                    <p>One of the most common indices most people are familiar with is the Consumer Price Index, which
                        measures the price of commonly purchased items relative to a base year to determine the
                        inflation rate.</p>
                </div>
            </div>
            <div class="col-xs-6 shapes">
                <div class="bars-container">
                    <div class="bars-group">
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                    <div class="bars-group">
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                    <div class="bars-group">
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="usage">
        <h2>National Awareness, Attitude & Usage Study</h2>
        <p class="subhead">usage</p>
        <div class="usage-item">
            <h3 id="usage-label-1">Guest Experience and Usage Analysis</h3>
            <div id="usage-1" class="row" aria-hidden="true" aria-labelledby="usage-label-1">
                <div class="col-xs-6 mobile-hidden">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.</p>
                    <a href="#" class="button">Learn More</a>
                </div>
                <div class="col-xs-6">
                    <div class="image-container">
                        <img src="" data-src="images/mission-vision.jpg" alt="">
                    </div>
                    <p class="caption">Optional image/graphic</p>
                </div>
                <div class="col-xs-6 mobile-only">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.</p>
                    <a href="#" class="button">Learn More</a>
                </div>
            </div>
            <button id="usage-toggle-1" class="text-link toggle" aria-controls="usage-1" aria-expanded="false"
                    aria-labelledby="usage-toggle-1 usage-label-1">Learn More
            </button>
        </div>
        <div class="usage-item">
            <h3 id="usage-label-2">Psychographic Profiling</h3>
            <div id="usage-2" class="row" aria-hidden="true" aria-labelledby="usage-label-2">
                <div class="col-xs-6 mobile-hidden">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.</p>
                    <a href="#" class="button">Learn More</a>
                </div>
                <div class="col-xs-6">
                    <div class="image-container">
                        <img src="" data-src="images/mission-vision.jpg" alt="">
                    </div>
                    <p class="caption">Optional image/graphic</p>
                </div>
                <div class="col-xs-6 mobile-only">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.</p>
                    <a href="#" class="button">Learn More</a>
                </div>
            </div>
            <button id="usage-toggle-2" class="text-link toggle" aria-controls="usage-2" aria-expanded="false"
                    aria-labelledby="usage-toggle-2 usage-label-2">Learn More
            </button>
        </div>
        <div class="usage-item">
            <h3 id="usage-label-3">Behavioral Influence Models</h3>
            <div id="usage-3" class="row" aria-hidden="true" aria-labelledby="usage-label-3">
                <div class="col-xs-6 mobile-hidden">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.</p>
                    <a href="#" class="button">Learn More</a>
                </div>
                <div class="col-xs-6">
                    <div class="image-container">
                        <img src="" data-src="images/mission-vision.jpg" alt="">
                    </div>
                    <p class="caption">Optional image/graphic</p>
                </div>
                <div class="col-xs-6 mobile-only">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.</p>
                    <a href="#" class="button">Learn More</a>
                </div>
            </div>
            <button id="usage-toggle-3" class="text-link toggle" aria-controls="usage-3" aria-expanded="false"
                    aria-labelledby="usage-toggle-3 usage-label-3">Learn More
            </button>
        </div>
        <div class="usage-item">
            <h3 id="usage-label-4">Price Optimization Models</h3>
            <div id="usage-4" class="row" aria-hidden="true" aria-labelledby="usage-label-4">
                <div class="col-xs-6 mobile-hidden">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.</p>
                    <a href="#" class="button">Learn More</a>
                </div>
                <div class="col-xs-6">
                    <div class="image-container">
                        <img src="" data-src="images/mission-vision.jpg" alt="">
                    </div>
                    <p class="caption">Optional image/graphic</p>
                </div>
                <div class="col-xs-6 mobile-only">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.</p>
                    <a href="#" class="button">Learn More</a>
                </div>
            </div>
            <button id="usage-toggle-4" class="text-link toggle" aria-controls="usage-4" aria-expanded="false"
                    aria-labelledby="usage-toggle-4 usage-label-4">Learn More
            </button>
        </div>
        <div class="usage-item">
            <h3 id="usage-label-5">Market Potential Analysis</h3>
            <div id="usage-5" class="row" aria-hidden="true" aria-labelledby="usage-label-5">
                <div class="col-xs-6 mobile-hidden">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.</p>
                    <a href="#" class="button">Learn More</a>
                </div>
                <div class="col-xs-6">
                    <div class="image-container">
                        <img src="" data-src="images/mission-vision.jpg" alt="">
                    </div>
                    <p class="caption">Optional image/graphic</p>
                </div>
                <div class="col-xs-6 mobile-only">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.</p>
                    <a href="#" class="button">Learn More</a>
                </div>
            </div>
            <button id="usage-toggle-5" class="text-link toggle" aria-controls="usage-5" aria-expanded="false"
                    aria-labelledby="usage-toggle-5 usage-label-5">Learn More
            </button>
        </div>
        <div class="usage-item">
            <h3 id="usage-label-6">Economic Forecasts</h3>
            <div id="usage-6" class="row" aria-hidden="true" aria-labelledby="usage-label-6">
                <div class="col-xs-6 mobile-hidden">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.</p>
                    <a href="#" class="button">Learn More</a>
                </div>
                <div class="col-xs-6">
                    <div class="image-container">
                        <img src="" data-src="images/mission-vision.jpg" alt="">
                    </div>
                    <p class="caption">Optional image/graphic</p>
                </div>
                <div class="col-xs-6 mobile-only">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.</p>
                    <a href="#" class="button">Learn More</a>
                </div>
            </div>
            <button id="usage-toggle-6" class="text-link toggle" aria-controls="usage-6" aria-expanded="false"
                    aria-labelledby="usage-toggle-6 usage-label-6">Learn More
            </button>
        </div>
        <div class="usage-item">
            <h3 id="usage-label-7">Experience Prototypes</h3>
            <div id="usage-7" class="row" aria-hidden="true" aria-labelledby="usage-label-7">
                <div class="col-xs-6 mobile-hidden">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.</p>
                    <a href="#" class="button">Learn More</a>
                </div>
                <div class="col-xs-6">
                    <div class="image-container">
                        <img src="" data-src="images/mission-vision.jpg" alt="">
                    </div>
                    <p class="caption">Optional image/graphic</p>
                </div>
                <div class="col-xs-6 mobile-only">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.</p>
                    <a href="#" class="button">Learn More</a>
                </div>
            </div>
            <button id="usage-toggle-7" class="text-link toggle" aria-controls="usage-7" aria-expanded="false"
                    aria-labelledby="usage-toggle-7 usage-label-7">Learn More
            </button>
        </div>
    </section>
    <section id="contact-us">
        <div class="diagonal-line"></div>
        <div class="row">
            <div class="col-xs-6">
                <h2>contact us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.</p>
                <a href="/contact.html" class="button">Get in touch</a>
            </div>
            <div class="col-xs-6">
                <div class="image-container">
                    <img src="" data-src="images/iStock-538358768.jpg" alt="">
                </div>
                <div class="image-container">
                    <img src="" data-src="images/iStock-468376512.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    {{> ../modules/_know-your-bones}}
</main>
{{> ../footer/_footer}}
{{> ../footer/_foot}}