{{>../header/_head additionalClasses="dark-bg"}}
{{>../header/_header}}
<main class="main" id="main">
    <section id="banner">
        <div class="row">
            <div class="col-xs-6">
                <h1>get in touch</h1>
            </div>
            <div class="col-xs-6">
                <p>Want to schedule a workshop? Set up a webinar? Ask a question? You’re in the right place. Fill out
                    the info below and we’ll be in touch shortly. </p>
            </div>
        </div>
    </section>
    <section id="services-approach">
        <div class="row">
            <div class="col-xs-6">
                <h2>our services</h2>
                <p>Get to the heart of understanding your audiences with high-confidence research and trend data
                    presented in workshops, keynotes, webinars, and more.</p>
                <a href="/services.html" class="button">Learn More</a>
            </div>
            <div class="col-xs-6">
                <h2>our approach</h2>
                <p>We help leaders take action to create sustainable business practices that lead to increased
                    attendance, support, and mission execution, and ensure the long-term solvency of their
                    organizations.</p>
                <a href="/approach.html" class="button">Learn More</a>
            </div>
        </div>
    </section>
    <section id="contact">
        <h2>contact</h2>
        <div class="form-container">
            <div class="bg">
                <div class="bg-row"></div>
                <div class="bg-row"></div>
                <div class="bg-row"></div>
            </div>
            <div class="gf_browser_chrome gform_wrapper gform_validation_error" id="gform_wrapper_18">
                <form method="post" enctype="multipart/form-data" id="gform_18" action="/8874-2/#gf_18">
                    <div class="gform_body">
                        <ul id="gform_fields_18" class="gform_fields top_label form_sublabel_below description_below">
                            <li id="field_18_2" class="gfield field_sublabel_below field_description_below
                        gfield_visibility_visible">
                                <label class="gfield_label" for="input_18_2">Name</label>
                                <div class="ginput_container ginput_container_text">
                                    <input name="input_2" id="input_18_2" type="text" value="" class="medium"
                                           placeholder="Enter Name" aria-invalid="false">
                                </div>
                            </li>
                            <li id="field_18_3" class="gfield field_sublabel_below field_description_below
                        gfield_visibility_visible gfield_error">
                                <label class="gfield_label" for="input_18_3">Organization Name</label>
                                <div class="ginput_container ginput_container_text">
                                    <input name="input_3" id="input_18_3" type="text" value="" class="medium"
                                           placeholder="Enter Organization Name" aria-invalid="false">
                                </div>
                                <div class="gfield_description validation_message">This field is required</div>
                            </li>
                            <li id="field_18_4" class="gfield field_sublabel_below field_description_below
                        gfield_visibility_visible">
                                <label class="gfield_label" for="input_18_4">Email</label>
                                <div class="ginput_container ginput_container_email">
                                    <input name="input_4" id="input_18_4" type="text" value="" class="medium"
                                           placeholder="Enter Email Address" aria-invalid="false">
                                </div>
                            </li>
                            <li id="field_18_5" class="gfield field_sublabel_below field_description_below
                        gfield_visibility_visible">
                                <label class="gfield_label" for="input_18_5">Message</label>
                                <div class="ginput_container ginput_container_textarea">
                                    <textarea name="input_5" id="input_18_5" class="textarea medium" placeholder="Enter Message" aria-invalid="false" rows="10" cols="50"></textarea>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="gform_footer top_label">
                        <input type="submit" id="gform_submit_button_18" class="gform_button button" value="Submit"
                               onclick="if(window[&quot;gf_submitting_18&quot;]){return false;}  window[&quot;
                           gf_submitting_18&quot;]=true;  " onkeypress="if( event.keyCode == 13 ){ if(window[&quot;
                           gf_submitting_18&quot;]){return false;} window[&quot;gf_submitting_18&quot;]=true;  jQuery(&quot;#gform_18&quot;).trigger(&quot;submit&quot;,[true]); }">
                        <input type="hidden" class="gform_hidden" name="is_submit_18" value="1">
                        <input type="hidden" class="gform_hidden" name="gform_submit" value="18">

                        <input type="hidden" class="gform_hidden" name="gform_unique_id" value="">
                        <input type="hidden" class="gform_hidden" name="state_18"
                               value="WyJbXSIsIjAwMGNlZjZjNTc2ZTM0YTRhNDM2NzMyNDUxNmUwNWI0Il0=">
                        <input type="hidden" class="gform_hidden" name="gform_target_page_number_18"
                               id="gform_target_page_number_18" value="0">
                        <input type="hidden" class="gform_hidden" name="gform_source_page_number_18"
                               id="gform_source_page_number_18" value="1">
                        <input type="hidden" name="gform_field_values" value="">

                    </div>
                </form>
            </div>
        </div>
    </section>
    {{> ../modules/_know-your-bones}}
</main>
{{> ../footer/_footer}}
{{> ../footer/_foot}}