{{>../header/_head additionalClasses="dark-bg"}}
{{>../header/_header}}
<main class="main" id="main">
    <section id="banner">
        <div class="row">
            <div class="col-xs-6">
                <h1>we don't guess, we know</h1>
                <p>High confidence data for cultural organizations</p>
                <a href="/approach.html" class="button"><span>Our Approach</span></a>
            </div>
            <div class="col-xs-6">
                <div class="bars-container">
                    <div class="bars-group">
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                    <div class="bars-group">
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                    <div class="bars-group">
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="mission-vision">
        <div class="row">
            <div class="col-xs-12 mobile-only">
                <h2>mission & vision</h2>
            </div>
            <div class="col-xs-6">
                <div class="text-cnt">
                    <p>Creative leadership in a rapidly changing world is about finding the right balance between
                        clarity and chaos. Using market research and trend analysis, IMPACTS Experience guides cultural
                        executives to approach business decisions from “best practices” based on guesswork to strategies
                        based on facts. IMPACTS’s primary expertise is developing intelligence to predict discretionary
                        consumer behaviors – the kind of information that helps organizations understand not only what
                        their constituents are doing, but also why they are doing it.</p>
                    <p>With high-confidence data gleaned from the largest in-market survey of cultural organization
                        visitors in the US, we remove the guesswork surrounding audience behaviors, motivations, and
                        perceptions. Museums, zoos, aquariums, botanic gardens, historic sites, and other cultural
                        organizations face new behavioral trends and shifting demographics. We help leaders take action
                        to create sustainable business practices that lead to increased attendance, support, and mission
                        execution, and ensure the long-term solvency of their organizations.</p>
                </div>
                <a href="/about.html" class="button"><span>About Us</span></a>
            </div>
            <div class="col-xs-6">
                <h2 class="mobile-hidden">mission & vision</h2>
                <div class="image">
                    <div class="image-container">
                        <svg width="591px" height="521px" viewBox="0 0 591 521" aria-labelledby="mv-image">
                            <title id="mv-image">Museum guide giving tour to students</title>
                            <defs>
                                <path d="M0.208061355,520.46634 L0.208061355,162.226498 L0.743479532,162.227739 C0.388948872,
                        158.018217 0.208061355,153.758835 0.208061355,149.456891 C0.208061355,67.1285789 66.456779,
                        0.388295567 148.178714,0.388295567 C223.490039,0.388295567 285.660501,57.0684927 294.950894,
                        130.394817 C304.236101,57.0684927 366.406563,0.388295567 441.717889,0.388295567 C523.439823,
                        0.388295567 589.688541,67.1285789 589.688541,149.456891 C589.688541,153.758835 589.507653,
                        158.018217 589.153123,162.227739 L589.688541,162.226498 L589.688541,520.46634 L296.149366,
                        520.46634 L293.747236,520.46634 L0.208061355,520.46634 Z" id="mv-path-1"></path>
                            </defs>
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g transform="translate(-799.000000, -1787.000000)">
                                    <g transform="translate(799.433114, 1787.078835)">
                                        <mask id="mv-mask-2" fill="white">
                                            <use xlink:href="#mv-path-1"></use>
                                        </mask>
                                        <image mask="url(#mv-mask-2)" x="-34.4331143" y="-12.5788346" width="799.5"
                                               height="533" xlink:href="images/mission-vision.jpg"></image>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="pinwheel"></div>
                </div>
            </div>
        </div>
    </section>
    <section id="approach-services">
        <div class="diagonal-line"></div>
        <div class="plot-graph">
            <svg width="903px" height="861px" viewBox="0 0 903 861">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g transform="translate(-339.000000, -2431.000000)" fill="#3062D5">
                        <g transform="translate(339.500000, 2431.000000)">
                            <circle cx="315" cy="617.5" r="4.5"></circle>
                            <circle cx="418.5" cy="388.5" r="4.5"></circle>
                            <circle cx="548.5" cy="476.5" r="4.5"></circle>
                            <circle cx="562" cy="491" r="4.5"></circle>
                            <circle cx="508" cy="560" r="4.5"></circle>
                            <circle cx="382.5" cy="351" r="4.5"></circle>
                            <circle cx="463.5" cy="152.5" r="4.5"></circle>
                            <circle cx="733.5" cy="522.5" r="4.5"></circle>
                            <circle cx="394.5" cy="796" r="4.5"></circle>
                            <circle cx="430.5" cy="784" r="4.5"></circle>
                            <circle cx="418.5" cy="734.5" r="4.5"></circle>
                            <circle cx="439.5" cy="595" r="4.5"></circle>
                            <circle cx="430.5" cy="540.5" r="4.5"></circle>
                            <circle cx="423" cy="508.5" r="4.5"></circle>
                            <circle cx="521.5" cy="362.421165" r="4.5"></circle>
                            <circle cx="512.5" cy="283.5" r="4.5"></circle>
                            <circle cx="373.5" cy="658.5" r="4.5"></circle>
                            <circle cx="230" cy="753" r="4.5"></circle>
                            <circle cx="183" cy="667.5" r="4.5"></circle>
                            <circle cx="283" cy="540.5" r="4.5"></circle>
                            <circle cx="99" cy="746.5" r="4.5"></circle>
                            <circle cx="4.5" cy="796" r="4.5"></circle>
                            <circle cx="302" cy="856.5" r="4.5"></circle>
                            <circle cx="898" cy="565.5" r="4.5"></circle>
                            <circle cx="749" cy="131.5" r="4.5"></circle>
                            <circle cx="361" cy="45.5" r="4.5"></circle>
                            <circle cx="841.5" cy="4.5" r="4.5"></circle>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
        <h2>our approach & services</h2>
        <div class="row">
            <div class="col-xs-6">
                <div class="text-cnt">
                    <p>The data is in: Many of the long-term business strategies governing cultural organizations are no
                        longer
                        true today – if they were ever true at all. From discounts and free admission days to
                        blockbuster
                        exhibits, research shows the strategies long held as “best practices” may be the very things
                        jeopardizing an institution’s ability to thrive. We have access to this research, and we want to
                        use it
                        to help your organization better understand audience perceptions, expectations, and
                        behaviors.</p>
                    <p>We treat our engagements as partnerships, customizing each interaction to best address your
                        goals,
                        challenges, and priorities, from understanding the likely – and unlikely – visitors in your
                        region to
                        overcoming cognitive biases when faced with difficult truths. Our goal in sharing data is to
                        make market
                        research accessible to visitor-serving organizations at more affordable rates than may otherwise
                        be
                        possible.</p>
                </div>
                <div class="services-container mobile-only">
                    <div class="service">
                        <h3>Workshops</h3>
                        <p>Interactive workshops help your organization tackle strategic challenges with high-confidence
                            market research data. Designed for executive leadership, professional staff, and board members,
                            full or half-day sessions explore trends, challenges, and opportunities with data cut
                            specifically for your needs.</p>
                    </div>
                    <div class="service">
                        <h3>Lectures</h3>
                        <p>Colleen Dilenschneider’s enthusiastic, energetic talks explore key trends facing cultural
                            organizations. Whether in keynote addresses at national conferences or guest lectures for
                            graduate classes, Colleen brings the data cultural professionals need to better understand their
                            audiences.</p>
                    </div>
                    <div class="service">
                        <h3>Consultation</h3>
                        <p>Take the guesswork out of long-term projects. Whether you’re developing a new strategic plan or
                            revamping staff training, we can help you become a data-driven organization by revealing what is
                            happening in the marketplace, who isn’t visiting (but might), and important clues about how your
                            organization is perceived by visitors and non-visitors.</p>
                    </div>
                </div>
                <a href="/services.html" class="button"><span>Our Services</span></a>
                <div class="images">
                    <div class="image-container">
                        <img src="" data-src="images/approach-services-1.jpg" alt="audience applauding presentation">
                    </div>
                    <div class="image-container">
                        <img src="" data-src="images/approach-services-2.jpg" alt="team exercise">
                    </div>
                </div>
            </div>
            <div class="col-xs-6 services-container mobile-hidden">
                <div class="service">
                    <h3>Workshops</h3>
                    <p>Interactive workshops help your organization tackle strategic challenges with high-confidence
                        market research data. Designed for executive leadership, professional staff, and board members,
                        full or half-day sessions explore trends, challenges, and opportunities with data cut
                        specifically for your needs.</p>
                </div>
                <div class="service">
                    <h3>Lectures</h3>
                    <p>Colleen Dilenschneider’s enthusiastic, energetic talks explore key trends facing cultural
                        organizations. Whether in keynote addresses at national conferences or guest lectures for
                        graduate classes, Colleen brings the data cultural professionals need to better understand their
                        audiences.</p>
                </div>
                <div class="service">
                    <h3>Consultation</h3>
                    <p>Take the guesswork out of long-term projects. Whether you’re developing a new strategic plan or
                        revamping staff training, we can help you become a data-driven organization by revealing what is
                        happening in the marketplace, who isn’t visiting (but might), and important clues about how your
                        organization is perceived by visitors and non-visitors.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="resources">
        <h2>resources</h2>
        <div class="row">
            <div class="col-xs-3">
                <p class="date">July 25 2019</p>
                <a href="/resource-detail.html">

                </a>
                <p class="author">Margaret Barber</p>
                <a href="#" class="read-more text-link">Read More ></a>
            </div>
            <div class="col-xs-3">
                <p class="date">July 25 2019</p>
                <a href="/resource-detail.html">
                    <h3>This is a title of a resource</h3>
                </a>
                <p class="author">Margaret Barber</p>
                <a href="#" class="read-more text-link">Read More ></a>
            </div>
            <div class="col-xs-3">
                <p class="date">July 25 2019</p>
                <a href="/resource-detail.html">
                    <h3>This is a title of a resource</h3>
                </a>
                <p class="author">Margaret Barber</p>
                <a href="#" class="read-more text-link">Read More ></a>
            </div>
            <div class="col-xs-3">
                <p class="date">July 25 2019</p>
                <a href="/resource-detail.html">
                    <h3>This is a title of a resource</h3>
                </a>
                <p class="author">Margaret Barber</p>
                <a href="#" class="read-more text-link">Read More ></a>
            </div>
        </div>
        <a href="/resources.html" class="button"><span>All Resources</span></a>
        <div class="pills-container">
            <div class="pill-row">
                <div class="pill"></div>
                <div class="pill"></div>
                <div class="pill"></div>
                <div class="pill"></div>
                <div class="pill"></div>
                <div class="pill"></div>
                <div class="pill"></div>
                <div class="pill"></div>
                <div class="pill"></div>
                <div class="pill"></div>
                <div class="pill"></div>
                <div class="pill"></div>
            </div>
            <div class="pill-row">
                <div class="pill"></div>
                <div class="pill"></div>
                <div class="pill"></div>
                <div class="pill"></div>
                <div class="pill"></div>
                <div class="pill"></div>
                <div class="pill"></div>
                <div class="pill"></div>
                <div class="pill"></div>
                <div class="pill"></div>
                <div class="pill"></div>
                <div class="pill"></div>
            </div>
            <div class="pill-row">
                <div class="pill"></div>
                <div class="pill"></div>
                <div class="pill"></div>
                <div class="pill"></div>
                <div class="pill"></div>
                <div class="pill"></div>
                <div class="pill"></div>
                <div class="pill"></div>
                <div class="pill orange"></div>
                <div class="pill orange"></div>
                <div class="pill orange"></div>
                <div class="pill orange"></div>
            </div>
            <div class="pill-row">
                <div class="pill"></div>
                <div class="pill"></div>
                <div class="pill"></div>
                <div class="pill"></div>
            </div>
            <div class="pill-row">
                <div class="pill"></div>
                <div class="pill"></div>
                <div class="pill"></div>
                <div class="pill"></div>
            </div>
        </div>
    </section>
    {{> ../modules/_know-your-bones}}
</main>
{{> ../footer/_footer}}
{{> ../footer/_foot}}