{{>../header/_head additionalClasses="sitemap front-page light-bg"}}
{{>../header/_header}}
<main class="main" id="main">
    <ul class="page-list">
        <li><a href="/home.html">Homepage</a></li>
        <li><a href="/about.html">About Us</a></li>
        <li><a href="/approach.html">Approach</a></li>
        <li><a href="/resources.html">Resources Landing</a></li>
        <li><a href="/resource-category.html">Resources Filtered/Paginated</a></li>
        <li><a href="/resource-detail.html">Resources Detail</a></li>
        <li><a href="/services.html">Services</a></li>
        <li><a href="/contact.html">Contact</a></li>
        <li><a href="/general.html">General</a></li>
        <li><a href="/404.html">404</a></li>
    </ul>
</main>
{{> ../footer/_footer}}
{{> ../footer/_foot}}