{{>../header/_head additionalClasses="dark-bg category no-js"}}
{{>../header/_header resources=true}}
<main id="main" class="main">
    <section id="banner">
        <div class="row">
            <div class="col-xs-6">
                <h1>resources</h1>
            </div>
            <div class="col-xs-6">
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                    laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.</p>
            </div>
        </div>
    </section>
    <section id="posts-section">
        <div class="filters desktop-only">
            <div class="filter-group">
                <p id="filter-tools" class="label">Filter by tools:</p>
                <ul aria-labelledby="filter-tools">
                    <li class="tag"><a href="/resource-category.html"><span>Whitepapers / Reports</span></a></li>
                    <li class="tag"><a href="/resource-category.html"><span>Webinars / Videos</span></a></li>
                    <li class="tag"><a href="/resource-category.html"><span>Books</span></a></li>
                </ul>
            </div>
            <div class="filter-group">
                <p id="filter-topics" class="label">Filter by topic:</p>
                <ul aria-labelledby="filter-topics">
                    <li class="tag"><a href="/resource-category.html"><span>Leadership</span></a></li>
                    <li class="tag"><a href="/resource-category.html"><span>Insights</span></a></li>
                    <li class="tag"><a href="/resource-category.html"><span>Marketing</span></a></li>
                    <li class="tag"><a href="/resource-category.html"><span>Barriers</span></a></li>
                    <li class="tag"><a href="/resource-category.html"><span>Reputation</span></a></li>
                    <li class="tag"><a href="/resource-category.html"><span>Fundraising</span></a></li>
                    <li class="tag"><a href="/resource-category.html"><span>Technology</span></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 popular-posts">
                <h2>Most Popular</h2>
                <div class="posts-container">
                    <div class="popular-post">
                        <p class="date">July 25, 2019</p>
                        <h3>This is a title of a resource</h3>
                        <p class="author">Margaret Barber</p>
                        <a href="#" class="text-link">Read More ></a>
                    </div>
                    <div class="popular-post">
                        <p class="date">July 25, 2019</p>
                        <h3>This is a title of a resource</h3>
                        <p class="author">Margaret Barber</p>
                        <a href="#" class="text-link">Read More ></a>
                    </div>
                    <div class="popular-post">
                        <p class="date">July 25, 2019</p>
                        <h3>This is a title of a resource</h3>
                        <p class="author">Margaret Barber</p>
                        <a href="#" class="text-link">Read More ></a>
                    </div>
                    <div class="popular-post">
                        <p class="date">July 25, 2019</p>
                        <h3>This is a title of a resource</h3>
                        <p class="author">Margaret Barber</p>
                        <a href="#" class="text-link">Read More ></a>
                    </div>
                    <div class="popular-post">
                        <p class="date">July 25, 2019</p>
                        <h3>This is a title of a resource</h3>
                        <p class="author">Margaret Barber</p>
                        <a href="#" class="text-link">Read More ></a>
                    </div>
                </div>
            </div>
            <div class="filters col-xs-12 tablet-mobile-only">
                <div class="filter-group">
                    <p id="filter-tools-responsive" class="label">Filter by tools:</p>
                    <ul aria-labelledby="filter-tools">
                        <li class="tag"><a href="/resource-category.html"><span>Whitepapers / Reports</span></a></li>
                        <li class="tag"><a href="/resource-category.html"><span>Webinars / Videos</span></a></li>
                        <li class="tag"><a href="/resource-category.html"><span>Books</span></a></li>
                    </ul>
                </div>
                <div class="filter-group">
                    <p id="filter-topics" class="label">Filter by topic:</p>
                    <ul aria-labelledby="filter-topics">
                        <li class="tag"><a href="/resource-category.html"><span>Leadership</span></a></li>
                        <li class="tag"><a href="/resource-category.html"><span>Insights</span></a></li>
                        <li class="tag"><a href="/resource-category.html"><span>Marketing</span></a></li>
                        <li class="tag"><a href="/resource-category.html"><span>Barriers</span></a></li>
                        <li class="tag"><a href="/resource-category.html"><span>Reputation</span></a></li>
                        <li class="tag"><a href="/resource-category.html"><span>Fundraising</span></a></li>
                        <li class="tag"><a href="/resource-category.html"><span>Technology</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-8 row">
                <div class="col-xs-6">
                    <a href="/resource-detail.html" class="image-container">
                        <img src="" data-src="images/approach-services-2.jpg" alt="post image alt text">
                    </a>
                    <p class="date">July 25, 2019</p>
                    <h3>This is a title of a resource but it’s longer than the others</h3>
                    <p class="author">Margaret Barber</p>
                    <a href="#" class="text-link">Read More ></a>
                </div>
                <div class="col-xs-6">
                    <a href="/resource-detail.html" class="image-container">
                        <img src="" data-src="images/approach-services-2.jpg" alt="post image alt text">
                    </a>
                    <p class="date">July 25, 2019</p>
                    <h3>This is a title of a resource but it’s longer than the others</h3>
                    <p class="author">Margaret Barber</p>
                    <a href="#" class="text-link">Read More ></a>
                </div>
                <div class="col-xs-6">
                    <a href="/resource-detail.html" class="image-container">
                        <img src="" data-src="images/approach-services-2.jpg" alt="post image alt text">
                    </a>
                    <p class="date">July 25, 2019</p>
                    <h3>This is a title of a resource but it’s longer than the others</h3>
                    <p class="author">Margaret Barber</p>
                    <a href="#" class="text-link">Read More ></a>
                </div>
                <div class="col-xs-6">
                    <a href="/resource-detail.html" class="image-container"></a>
                    <p class="date">July 25, 2019</p>
                    <h3>This is a title of a resource but it’s longer than the others</h3>
                    <p class="author">Margaret Barber</p>
                    <a href="#" class="text-link">Read More ></a>
                </div>
                <div class="col-xs-6">
                    <a href="/resource-detail.html" class="image-container">
                        <img src="" data-src="images/approach-services-2.jpg" alt="post image alt text">
                    </a>
                    <p class="date">July 25, 2019</p>
                    <h3>This is a title of a resource but it’s longer than the others</h3>
                    <p class="author">Margaret Barber</p>
                    <a href="#" class="text-link">Read More ></a>
                </div>
                <div class="col-xs-6">
                    <a href="/resource-detail.html" class="image-container"></a>
                    <p class="date">July 25, 2019</p>
                    <h3>This is a title of a resource but it’s longer than the others</h3>
                    <p class="author">Margaret Barber</p>
                    <a href="#" class="text-link">Read More ></a>
                </div>
                <div class="col-xs-6">
                    <a href="/resource-detail.html" class="image-container">
                        <img src="" data-src="images/approach-services-2.jpg" alt="post image alt text">
                    </a>
                    <p class="date">July 25, 2019</p>
                    <h3>This is a title of a resource but it’s longer than the others</h3>
                    <p class="author">Margaret Barber</p>
                    <a href="#" class="text-link">Read More ></a>
                </div>
                <div class="col-xs-6">
                    <a href="/resource-detail.html" class="image-container"></a>
                    <p class="date">July 25, 2019</p>
                    <h3>This is a title of a resource but it’s longer than the others</h3>
                    <p class="author">Margaret Barber</p>
                    <a href="#" class="text-link">Read More ></a>
                </div>
                <div class="col-xs-6">
                    <a href="/resource-detail.html" class="image-container">
                        <img src="" data-src="images/approach-services-2.jpg" alt="post image alt text">
                    </a>
                    <p class="date">July 25, 2019</p>
                    <h3>This is a title of a resource but it’s longer than the others</h3>
                    <p class="author">Margaret Barber</p>
                    <a href="#" class="text-link">Read More ></a>
                </div>
                <div class="col-xs-6">
                    <a href="/resource-detail.html" class="image-container"></a>
                    <p class="date">July 25, 2019</p>
                    <h3>This is a title of a resource but it’s longer than the others</h3>
                    <p class="author">Margaret Barber</p>
                    <a href="#" class="text-link">Read More ></a>
                </div>
                <div class="col-xs-12">
                    <div class="pagination">
                        <p class=" pagination-btn prev disabled" aria-labelledby="prev-label">
                            < <span id="prev-label" class="label">Previous Page</span>
                        </p>
                        <ul class="page-numbers">
                            <li><span aria-current="page" class="page-numbers current">1</span></li>
                            <li><a class="page-numbers" href="/resource-category.html">2</a></li>
                            <li><a class="page-numbers" href="/resource-category.html">3</a></li>
                            <li><span class="page-numbers dots">...</span></li>
                            <li><a class="page-numbers" href="/resource-category.html">20</a></li>
                            <li><a class="page-numbers" href="/resource-category.html">21</a></li>
                            <li><a class="page-numbers" href="/resource-category.html">22</a></li>
                        </ul>
                        <a href="/resource-category.html" class=" pagination-btn next" aria-labelledby="next-label">
                            > <span id="next-label" class="label">
                            Next Page</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{> ../modules/_know-your-bones}}
</main>
{{> ../footer/_footer}}
{{> ../footer/_foot}}