{{>../header/_head additionalClasses="light-bg"}}
{{>../header/_header services=true}}
<main id="main" class="main">
    <section id="banner">
        <h1>Services</h1>
        <p class="headline">This is an opening statement about services. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
        <div class="row">
            <div class="col-xs-6">
                <p>Why don’t members renew their memberships? What’s the most effective way to increase onsite visitor
                    satisfaction? Why don’t people with interest in visiting a museum actually go? How does social media
                    use offsite affect the visitor experience onsite? What do visitors think is the best thing about
                    their visit?</p>
                <p>Get to the heart of understanding your audiences with high-confidence research and trend data from
                    the largest in-market research study of cultural organizations in the United States, the National
                    Attitudes, Awareness, and Usage Study. IMPACTS Experience makes this data accessible to all cultural
                    organizations by offering a variety of services customizable to each entity’s specific challenges
                    and needs.</p>
            </div>
            <div class="col-xs-6">
                <p id="list-label" class="label">Jump to:</p>
                <ul class="anchors" aria-labelledby="list-label">
                    <li><a href="#talks" class="text-link">Talks ></a></li>
                    <li><a href="#workshops" class="text-link">Workshops ></a></li>
                    <li><a href="#consultations" class="text-link">Consultations ></a></li>
                    <li><a href="#webinars" class="text-link">Webinar ></a></li>
                </ul>
            </div>
        </div>
    </section>
    <section id="talks" class="service-section">
        <div class="intro">
            <div class="pinwheel"></div>
            <div class="bg">
                <div class="shape"></div>
                <div class="shape"></div>
                <div class="shape"></div>
            </div>
            <div class="text-cnt row">
                <div class="col-xs-6">
                    <h2>talks</h2>
                </div>
                <div class="col-xs-6">
                    <p>Colleen Dilenschneider’s enthusiastic, energetic talks explore key trends facing cultural
                        organizations. Whether in keynote addresses at national conferences or guest lectures for
                        graduate classes, Colleen brings the data cultural professionals need to better understand their
                        audiences.</p>
                </div>
            </div>
        </div>
        <div class="accordion">
            <h3 id="talks-label-1">Name/category of Talk</h3>
            <div id="talks-1" class="row" aria-hidden="true" aria-labelledby="talks-label-1">
                <div class="col-xs-6">
                    <div class="text-cnt">
                        <div class="info-group">
                            <h4>Overview</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                        </div>
                        <div class="info-group">
                            <h4>Fees</h4>
                            <ul>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contact.html" class="button mobile-hidden">Contact Us</a>
                </div>
                <div class="col-xs-6">
                    <div class="text-cnt">
                        <div class="info-group">
                            <h4>Process</h4>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </li>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea
                                    commodo consequat.
                                </li>
                                <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat
                                    nulla pariatur.
                                </li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </li>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea
                                    commodo consequat.
                                </li>
                                <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat
                                    nulla pariatur.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contact.html" class="button mobile-only">Contact Us</a>
                </div>
            </div>
            <button id="talks-toggle-1" class="text-link toggle" aria-controls="talks-1" aria-expanded="false"
                    aria-labelledby="talks-toggle-1 talks-label-1">Expand
            </button>
        </div>
        <div class="accordion">
            <h3 id="talks-label-2">Name/category of Talk</h3>
            <div id="talks-2" class="row" aria-hidden="true" aria-labelledby="talks-label-2">
                <div class="col-xs-6">
                    <div class="text-cnt">
                        <div class="info-group">
                            <h4>Overview</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                        </div>
                        <div class="info-group">
                            <h4>Fees</h4>
                            <ul>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contact.html" class="button mobile-hidden">Contact Us</a>
                </div>
                <div class="col-xs-6">
                    <div class="text-cnt">
                        <div class="info-group">
                            <h4>Process</h4>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </li>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea
                                    commodo consequat.
                                </li>
                                <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat
                                    nulla pariatur.
                                </li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </li>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea
                                    commodo consequat.
                                </li>
                                <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat
                                    nulla pariatur.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contact.html" class="button mobile-only">Contact Us</a>
                </div>
            </div>
            <button id="talks-toggle-2" class="text-link toggle" aria-controls="talks-2" aria-expanded="false"
                    aria-labelledby="talks-toggle-2 talks-label-2">Expand
            </button>
        </div>
        <div class="accordion">
            <h3 id="talks-label-3">Name/category of Talk</h3>
            <div id="talks-3" class="row" aria-hidden="true" aria-labelledby="talks-label-3">
                <div class="col-xs-6">
                    <div class="text-cnt">
                        <div class="info-group">
                            <h4>Overview</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                        </div>
                        <div class="info-group">
                            <h4>Fees</h4>
                            <ul>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contact.html" class="button mobile-hidden">Contact Us</a>
                </div>
                <div class="col-xs-6">
                    <div class="text-cnt">
                        <div class="info-group">
                            <h4>Process</h4>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </li>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea
                                    commodo consequat.
                                </li>
                                <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat
                                    nulla pariatur.
                                </li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </li>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea
                                    commodo consequat.
                                </li>
                                <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat
                                    nulla pariatur.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contact.html" class="button mobile-only">Contact Us</a>
                </div>
            </div>
            <button id="talks-toggle-3" class="text-link toggle" aria-controls="talks-3" aria-expanded="false"
                    aria-labelledby="talks-toggle-3 talks-label-3">Expand
            </button>
        </div>
        <div class="accordion">
            <h3 id="talks-label-4">Name/category of Talk</h3>
            <div id="talks-4" class="row" aria-hidden="true" aria-labelledby="talks-label-4">
                <div class="col-xs-6">
                    <div class="text-cnt">
                        <div class="info-group">
                            <h4>Overview</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                        </div>
                        <div class="info-group">
                            <h4>Fees</h4>
                            <ul>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contact.html" class="button mobile-hidden">Contact Us</a>
                </div>
                <div class="col-xs-6">
                    <div class="text-cnt">
                        <div class="info-group">
                            <h4>Process</h4>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </li>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea
                                    commodo consequat.
                                </li>
                                <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat
                                    nulla pariatur.
                                </li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </li>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea
                                    commodo consequat.
                                </li>
                                <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat
                                    nulla pariatur.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contact.html" class="button mobile-only">Contact Us</a>
                </div>
            </div>
            <button id="talks-toggle-4" class="text-link toggle" aria-controls="talks-4" aria-expanded="false"
                    aria-labelledby="talks-toggle-4 talks-label-4">Expand
            </button>
        </div>
    </section>
    <section id="workshops" class="service-section">
        <div class="intro">
            <div class="pinwheel"></div>
            <div class="bg">
                <div class="shape"></div>
                <div class="shape"></div>
                <div class="shape"></div>
            </div>
            <div class="text-cnt row">
                <div class="col-xs-6">
                    <h2>workshops</h2>
                </div>
                <div class="col-xs-6">
                    <p>Full, half-day or board workshops explore your area(s) of interest with data cut specifically for
                        key demographics or audiences (your region, likely visitor profile, and organization type).
                        Half- or full-day workshops are designed for professional staff and organization leaders, while
                        board workshops engage board members to discuss challenges and opportunities facing the
                        institution.</p>
                    <p>Workshops are tailored to each group’s goals, challenges, and priorities, with trend data pulled
                        to help address these challenges and inform strategic decisions. Workshop topics are customized
                        based upon key questions, challenges, or areas of interest for each organization.</p>
                </div>
            </div>
        </div>
        <div class="accordion">
            <h3 id="workshops-label-1">Name/category of Workshop</h3>
            <div id="workshops-1" class="row" aria-hidden="true" aria-labelledby="workshops-label-1">
                <div class="col-xs-6">
                    <div class="text-cnt">
                        <div class="info-group">
                            <h4>Overview</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                        </div>
                        <div class="info-group">
                            <h4>Fees</h4>
                            <ul>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contact.html" class="button mobile-hidden">Contact Us</a>
                </div>
                <div class="col-xs-6">
                    <div class="text-cnt">
                        <div class="info-group">
                            <h4>Process</h4>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </li>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea
                                    commodo consequat.
                                </li>
                                <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat
                                    nulla pariatur.
                                </li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </li>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea
                                    commodo consequat.
                                </li>
                                <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat
                                    nulla pariatur.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contact.html" class="button mobile-only">Contact Us</a>
                </div>
            </div>
            <button id="workshops-toggle-1" class="text-link toggle" aria-controls="workshops-cnt-1"
                    aria-expanded="false" aria-labelledby="workshops-toggle-1 workshops-label-1">Expand
            </button>
        </div>
        <div class="accordion">
            <h3 id="workshops-label-2">Name/category of Workshop</h3>
            <div id="workshops-2" class="row" aria-hidden="true" aria-labelledby="workshops-label-2">
                <div class="col-xs-6">
                    <div class="text-cnt">
                        <div class="info-group">
                            <h4>Overview</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                        </div>
                        <div class="info-group">
                            <h4>Fees</h4>
                            <ul>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contact.html" class="button mobile-hidden">Contact Us</a>
                </div>
                <div class="col-xs-6">
                    <div class="text-cnt">
                        <div class="info-group">
                            <h4>Process</h4>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </li>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea
                                    commodo consequat.
                                </li>
                                <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat
                                    nulla pariatur.
                                </li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </li>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea
                                    commodo consequat.
                                </li>
                                <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat
                                    nulla pariatur.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contact.html" class="button mobile-only">Contact Us</a>
                </div>
            </div>
            <button id="workshops-toggle-2" class="text-link toggle" aria-controls="workshops-2"
                    aria-expanded="false" aria-labelledby="workshops-toggle-2 workshops-label-2">Expand
            </button>
        </div>
        <div class="accordion">
            <h3 id="workshops-label-3">Name/category of Workshop</h3>
            <div id="workshops-3" class="row" aria-hidden="true" aria-labelledby="workshops-label-3">
                <div class="col-xs-6">
                    <div class="text-cnt">
                        <div class="info-group">
                            <h4>Overview</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                        </div>
                        <div class="info-group">
                            <h4>Fees</h4>
                            <ul>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contact.html" class="button mobile-hidden">Contact Us</a>
                </div>
                <div class="col-xs-6">
                    <div class="text-cnt">
                        <div class="info-group">
                            <h4>Process</h4>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </li>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea
                                    commodo consequat.
                                </li>
                                <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat
                                    nulla pariatur.
                                </li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </li>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea
                                    commodo consequat.
                                </li>
                                <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat
                                    nulla pariatur.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contact.html" class="button mobile-only">Contact Us</a>
                </div>
            </div>
            <button id="workshops-toggle-3" class="text-link toggle" aria-controls="workshops-3"
                    aria-expanded="false" aria-labelledby="workshops-toggle-3 workshops-label-3">Expand
            </button>
        </div>
        <div class="accordion">
            <h3 id="workshops-label-4">Name/category of Workshop</h3>
            <div id="workshops-4" class="row" aria-hidden="true" aria-labelledby="workshops-label-4">
                <div class="col-xs-6">
                    <div class="text-cnt">
                        <div class="info-group">
                            <h4>Overview</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                        </div>
                        <div class="info-group">
                            <h4>Fees</h4>
                            <ul>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contact.html" class="button mobile-hidden">Contact Us</a>
                </div>
                <div class="col-xs-6">
                    <div class="text-cnt">
                        <div class="info-group">
                            <h4>Process</h4>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </li>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea
                                    commodo consequat.
                                </li>
                                <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat
                                    nulla pariatur.
                                </li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </li>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea
                                    commodo consequat.
                                </li>
                                <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat
                                    nulla pariatur.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contact.html" class="button mobile-only">Contact Us</a>
                </div>
            </div>
            <button id="workshops-toggle-4" class="text-link toggle" aria-controls="workshops-4"
                    aria-expanded="false" aria-labelledby="workshops-toggle-4 workshops-label-4">Expand
            </button>
        </div>
    </section>
    <section id="consultations" class="service-section">
        <div class="intro">
            <div class="pinwheel"></div>
            <div class="bg">
                <div class="shape"></div>
                <div class="shape"></div>
                <div class="shape"></div>
            </div>
            <div class="text-cnt row">
                <div class="col-xs-6">
                    <h2>consultations</h2>
                </div>
                <div class="col-xs-6">
                    <p>Whether you’re developing a new strategic plan or revamping staff training, we can help you
                        become a data-driven organization by revealing what is happening in the marketplace, who isn’t
                        visiting (but might), and important clues about how your organization is perceived by visitors
                        and non-visitors.</p>
                </div>
            </div>
        </div>
        <div class="accordion">
            <h3 id="consultations-label-1">Name/category of Consultation</h3>
            <div id="consultations-1" class="row" aria-hidden="true" aria-labelledby="consultations-label-1">
                <div class="col-xs-6">
                    <div class="text-cnt">
                        <div class="info-group">
                            <h4>Overview</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                        </div>
                        <div class="info-group">
                            <h4>Fees</h4>
                            <ul>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contact.html" class="button mobile-hidden">Contact Us</a>
                </div>
                <div class="col-xs-6">
                    <div class="text-cnt">
                        <div class="info-group">
                            <h4>Process</h4>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </li>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea
                                    commodo consequat.
                                </li>
                                <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat
                                    nulla pariatur.
                                </li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </li>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea
                                    commodo consequat.
                                </li>
                                <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat
                                    nulla pariatur.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contact.html" class="button mobile-only">Contact Us</a>
                </div>
            </div>
            <button id="consultations-toggle-1" class="text-link toggle" aria-controls="consultations-cnt-1"
                    aria-expanded="false" aria-labelledby="consultations-toggle-1 consultations-label-1">Expand
            </button>
        </div>
        <div class="accordion">
            <h3 id="consultations-label-2">Name/category of Consultation</h3>
            <div id="consultations-2" class="row" aria-hidden="true" aria-labelledby="consultations-label-2">
                <div class="col-xs-6">
                    <div class="text-cnt">
                        <div class="info-group">
                            <h4>Overview</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                        </div>
                        <div class="info-group">
                            <h4>Fees</h4>
                            <ul>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contact.html" class="button mobile-hidden">Contact Us</a>
                </div>
                <div class="col-xs-6">
                    <div class="text-cnt">
                        <div class="info-group">
                            <h4>Process</h4>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </li>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea
                                    commodo consequat.
                                </li>
                                <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat
                                    nulla pariatur.
                                </li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </li>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea
                                    commodo consequat.
                                </li>
                                <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat
                                    nulla pariatur.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contact.html" class="button mobile-only">Contact Us</a>
                </div>
            </div>
            <button id="consultations-toggle-2" class="text-link toggle" aria-controls="consultations-2"
                    aria-expanded="false" aria-labelledby="consultations-toggle-2 consultations-label-2">Expand
            </button>
        </div>
        <div class="accordion">
            <h3 id="consultations-label-3">Name/category of Consultation</h3>
            <div id="consultations-3" class="row" aria-hidden="true" aria-labelledby="consultations-label-3">
                <div class="col-xs-6">
                    <div class="text-cnt">
                        <div class="info-group">
                            <h4>Overview</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                        </div>
                        <div class="info-group">
                            <h4>Fees</h4>
                            <ul>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contact.html" class="button mobile-hidden">Contact Us</a>
                </div>
                <div class="col-xs-6">
                    <div class="text-cnt">
                        <div class="info-group">
                            <h4>Process</h4>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </li>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea
                                    commodo consequat.
                                </li>
                                <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat
                                    nulla pariatur.
                                </li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </li>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea
                                    commodo consequat.
                                </li>
                                <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat
                                    nulla pariatur.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contact.html" class="button mobile-only">Contact Us</a>
                </div>
            </div>
            <button id="consulations-toggle-3" class="text-link toggle" aria-controls="consultations-3"
                    aria-expanded="false" aria-labelledby="consultations-toggle-3 consultations-label-3">Expand
            </button>
        </div>
        <div class="accordion">
            <h3 id="consultations-label-4">Name/category of Consultation</h3>
            <div id="consultations-4" class="row" aria-hidden="true" aria-labelledby="consultations-label-4">
                <div class="col-xs-6">
                    <div class="text-cnt">
                        <div class="info-group">
                            <h4>Overview</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                        </div>
                        <div class="info-group">
                            <h4>Fees</h4>
                            <ul>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contact.html" class="button mobile-hidden">Contact Us</a>
                </div>
                <div class="col-xs-6">
                    <div class="text-cnt">
                        <div class="info-group">
                            <h4>Process</h4>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </li>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea
                                    commodo consequat.
                                </li>
                                <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat
                                    nulla pariatur.
                                </li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </li>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea
                                    commodo consequat.
                                </li>
                                <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat
                                    nulla pariatur.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contact.html" class="button mobile-only">Contact Us</a>
                </div>
            </div>
            <button id="consulations-toggle-4" class="text-link toggle" aria-controls="consultations-4"
                    aria-expanded="false" aria-labelledby="consultations-toggle-4 consultations-label-4">Expand
            </button>
        </div>
    </section>
    <section id="webinars" class="service-section">
        <div class="intro">
            <div class="pinwheel"></div>
            <div class="bg">
                <div class="shape"></div>
                <div class="shape"></div>
                <div class="shape"></div>
            </div>
            <div class="text-cnt row">
                <div class="col-xs-6">
                    <h2>webinars</h2>
                </div>
                <div class="col-xs-6">
                    <p>Interactive webinar sessions are a great supplement to an onsite workshop or as a standalone
                        introduction to a single trend topic. </p>
                </div>
            </div>
        </div>
        <div class="accordion">
            <h3 id="webinars-label-1">Name/category of Webinar</h3>
            <div id="webinars-1" class="row" aria-hidden="true" aria-labelledby="webinars-label-1">
                <div class="col-xs-6">
                    <div class="text-cnt">
                        <div class="info-group">
                            <h4>Overview</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                        </div>
                        <div class="info-group">
                            <h4>Fees</h4>
                            <ul>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contact.html" class="button mobile-hidden">Contact Us</a>
                </div>
                <div class="col-xs-6">
                    <div class="text-cnt">
                        <div class="info-group">
                            <h4>Process</h4>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </li>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea
                                    commodo consequat.
                                </li>
                                <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat
                                    nulla pariatur.
                                </li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </li>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea
                                    commodo consequat.
                                </li>
                                <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat
                                    nulla pariatur.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contact.html" class="button mobile-only">Contact Us</a>
                </div>
            </div>
            <button id="webinars-toggle-1" class="text-link toggle" aria-controls="webinars-cnt-1"
                    aria-expanded="false" aria-labelledby="webinars-toggle-1 webinars-label-1">Expand
            </button>
        </div>
        <div class="accordion">
            <h3 id="webinars-label-2">Name/category of Webinar</h3>
            <div id="webinars-2" class="row" aria-hidden="true" aria-labelledby="webinars-label-2">
                <div class="col-xs-6">
                    <div class="text-cnt">
                        <div class="info-group">
                            <h4>Overview</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                        </div>
                        <div class="info-group">
                            <h4>Fees</h4>
                            <ul>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contact.html" class="button mobile-hidden">Contact Us</a>
                </div>
                <div class="col-xs-6">
                    <div class="text-cnt">
                        <div class="info-group">
                            <h4>Process</h4>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </li>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea
                                    commodo consequat.
                                </li>
                                <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat
                                    nulla pariatur.
                                </li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </li>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea
                                    commodo consequat.
                                </li>
                                <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat
                                    nulla pariatur.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contact.html" class="button mobile-only">Contact Us</a>
                </div>
            </div>
            <button id="webinars-toggle-2" class="text-link toggle" aria-controls="webinars-2"
                    aria-expanded="false" aria-labelledby="webinars-toggle-2 webinars-label-2">Expand
            </button>
        </div>
        <div class="accordion">
            <h3 id="webinars-label-3">Name/category of Webinar</h3>
            <div id="webinars-3" class="row" aria-hidden="true" aria-labelledby="webinars-label-3">
                <div class="col-xs-6">
                    <div class="text-cnt">
                        <div class="info-group">
                            <h4>Overview</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                        </div>
                        <div class="info-group">
                            <h4>Fees</h4>
                            <ul>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contact.html" class="button mobile-hidden">Contact Us</a>
                </div>
                <div class="col-xs-6">
                    <div class="text-cnt">
                        <div class="info-group">
                            <h4>Process</h4>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </li>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea
                                    commodo consequat.
                                </li>
                                <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat
                                    nulla pariatur.
                                </li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </li>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea
                                    commodo consequat.
                                </li>
                                <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat
                                    nulla pariatur.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contact.html" class="button mobile-only">Contact Us</a>
                </div>
            </div>
            <button id="webinars-toggle-3" class="text-link toggle" aria-controls="webinars-3"
                    aria-expanded="false" aria-labelledby="webinars-toggle-3 webinars-label-3">Expand
            </button>
        </div>
        <div class="accordion">
            <h3 id="webinars-label-4">Name/category of Webinar</h3>
            <div id="webinars-4" class="row" aria-hidden="true" aria-labelledby="webinars-label-4">
                <div class="col-xs-6">
                    <div class="text-cnt">
                        <div class="info-group">
                            <h4>Overview</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                        </div>
                        <div class="info-group">
                            <h4>Fees</h4>
                            <ul>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                                <li>Lorem ipsum: <span>$XXXX</span></li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contact.html" class="button mobile-hidden">Contact Us</a>
                </div>
                <div class="col-xs-6">
                    <div class="text-cnt">
                        <div class="info-group">
                            <h4>Process</h4>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </li>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea
                                    commodo consequat.
                                </li>
                                <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat
                                    nulla pariatur.
                                </li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </li>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea
                                    commodo consequat.
                                </li>
                                <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat
                                    nulla pariatur.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contact.html" class="button mobile-only">Contact Us</a>
                </div>
            </div>
            <button id="webinars-toggle-4" class="text-link toggle" aria-controls="webinars-4"
                    aria-expanded="false" aria-labelledby="webinars-toggle-4 webinars-label-4">Expand
            </button>
        </div>
    </section>
    {{> ../modules/_know-your-bones}}
</main>
{{> ../footer/_footer}}
{{> ../footer/_foot}}