//
// Name:            Footer
//
// Description:     Contains all footer styles
//
// ========================================================================
// Component: Footer
// =========================================================================
footer.footer {
  border-top: 2px solid $impact-blue-dark;
  margin: 0 10.3vw;
  padding: 5.5vw 0 4.5vw;
  position: relative;
  z-index: 100;

  .footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    -ms-flex-align: center;
    margin-bottom: 7.2vw;
  }

  .logo {
    position: relative;

    a {
      border: 2px solid transparent;
      display: inline-block;
      transition: border-color .25s ease-in-out;

      &:focus {
        border-color: $impact-orange-light;
      }
    }

    p {
      width: 100%;
      height: 100%;
      display: inline-block;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    img {
      width: 21.7vw;
      height: auto;
    }
  }

  ul {
    list-style: none;
    margin-top: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 4vw;

      &:last-child {
        margin-right: 0;
      }

      a {
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 24px;
      }
    }
  }
}

body.dark-bg {
  footer.footer {
    .logo img.light-bg {
      display: none;
    }
    ul li a {
      color: $impact-beige;

      &:hover {
        color: $impact-orange-light;
      }
    }
  }
}

body.light-bg {
  footer.footer {
    .logo img.dark-bg {
      display: none;
    }

    ul li a {
      color: $impact-blue-dark;

      &:hover {
        color: $impact-blue;
      }

      &:focus {
        color: $impact-blue-dark;
      }
    }
  }
}

@media (max-width: 768px) {
  footer.footer {
    margin: 0 5.2vw;
  }
}

@media (max-width: 581px) {
  footer.footer {
    margin: 0 6.25vw;
    padding: 36px 0;

    .footer-row {
      display: block;
      margin-bottom: 28px;
      text-align: center;
    }

    .logo {
      img {
        width: 56.25vw;
      }
    }

    ul {
      li {
        display: block;
        margin-right: 0;
        margin-bottom: 15px;
        text-align: center;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
