//
// Name:            Header
//
// Description:     Contains all header styles
//
// ========================================================================
// Component: Header
// ========================================================================
header.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;

  .header-inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5.5vw 10.3vw 0;
    position: relative;
  }

  .logo {
    margin-left: 0;
    margin-right: auto;
    padding-right: 2vw;
    position: relative;

    a {
      border: 2px solid transparent;
      display: inline-block;
      transition: border-color .25s ease-in-out;

      &:focus {
        border-color: $impact-orange-light;
      }
    }

    p {
      width: 100%;
      height: 100%;
      display: inline-block;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    img {
      width: 21.7vw;
      height: auto;
    }
  }

  #menu-button {
    display: none;
  }

  .button {
    min-width: 0;
    margin: auto 0 auto auto;
  }
}

body.dark-bg {
  header.header {
    .logo img.light-bg {
      display: none;
    }
  }
}

body.light-bg {
  header.header {
    .logo img.dark-bg {
      display: none;
    }
  }
}


@media (max-width: 1224px) {
  header.header .header-inner {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media (max-width: 1024px) {
  header.header {
    .logo {
      img {
        width: 29.3vw;
      }
    }

    #menu-button {
      display: block;
    }
  }
}

@media (max-width: 768px) {
  header.header .header-inner {
    padding-left: 5.2vw;
    padding-right: 5.2vw;
  }
}

@media (max-width: 581px) {
  header.header {
    .header-inner {
      padding: 6.9vw 6.25vw 0;
    }

    .logo {
      img {
        width: 44.4vw;
      }
    }

    .button {
      width: auto;
      padding: 5.5px 10px;
    }
  }
}