//
// Name:            Layout
//
// Description:     Contains all style definitions concerning basic
//					structure and layout
//
// ========================================================================
// Component: Base
// ========================================================================
.main {
  overflow: hidden;
  padding: 300px 0 0;
  position: relative;
  z-index: 99;

  @media (max-width: 768px) {
    padding-top: 200px;
  }

  @media (max-width: 581px) {
    padding-top: 37.5vw;
  }
}

.wrapper {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.row {
  margin: 0;
  padding: 0;
}

.col-xs-12,
.col-xs-11,
.col-xs-10,
.col-xs-9,
.col-xs-8,
.col-xs-7,
.col-xs-6,
.col-xs-5,
.col-xs-4,
.col-xs-3,
.col-xs-2,
.col-xs-1 {
  padding: 0;
}

.section {
  position: relative;
  vertical-align: top;
}

// Section padding
.section.large-padding {
  padding: 100px 0;
}

.section.medium-padding {
  padding: 60px 0;
}

.section.small-padding {
  padding: 40px 0;
}

// Text alignment
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// Hidden Elements
.hidden,
.desktop-hidden,
.tablet-only,
.tablet-mobile-only,
.mobile-only {
  display: none !important;
}

@media (max-width: 1024px) {
  .tablet-hidden,
  .desktop-only {
    display: none !important;
  }

  .tablet-only,
  .tablet-mobile-only {
    display: block !important;
  }
}

@media (max-width: 581px) {
  .mobile-hidden {
    display: none !important;
  }

  .mobile-only {
    display: block !important;
  }
}

//General Elements
//Pinwheel
.pinwheel {
  width: 110px;
  height: 110px;
  background: url('../images/pinwheel.svg') no-repeat;
  background-size: contain;
  position: absolute;
  bottom: -47px;
  left: -53px;
  z-index: 1;
}

//Text LInk
.text-link {
  background: none;
  border: 2px solid transparent;
  display: inline-block;
  font-family: 'DMSans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: initial;
  padding: 0;
  position: relative;
  text-transform: uppercase;
  transition: all .25s ease-in-out;
  -webkit-appearance: none;
}

body.dark-bg {
  .text-link {
    color: $impact-beige;

    &:hover {
      color: $impact-orange-light;
    }

    &:focus {
      border-color: $impact-orange-light;
      color: $impact-beige;
    }
  }
}

body.light-bg {
  .text-link {
    color: $impact-blue;

    &:hover {
      color: $impact-blue-dark;
    }

    &:focus {
      border-color: $color-black;
      color: $impact-blue;
    }
  }
}

//Image Container
.image-container {
  overflow: hidden;
  position: relative;

  img {
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    object-fit: cover;

    &.wh {
      height: 100% !important
    }
    &.ww {
      width: 100% !important
    }
  }

  &.ie {
    img {
      max-width: none;
      max-height: none;
    }
  }
}

//Tags
.tag {
  color: #FFF4E4;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 0;
  text-align: center;
  border-top-right-radius: 6.9vw;

  a, p {
    width: 100%;
    height: 100%;
    border-top-right-radius: 6.9vw;
    background: $impact-blue;
    color: $color-white;
    display: inline-block;
    position: relative;

    span {
      width: 100%;
      height: 100%;
      border-top-right-radius: 6.9vw;
      background: $impact-blue;
      display: inline-block;
      padding: 7px 25px 7px 18px;
      position: relative;
      transition: background .25s ease-in-out;
      z-index: 2;
    }

    &:before {
      content: '';
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      background: $color-black;
      border-top-right-radius: 6.9vw;
      display: inline-block;
      opacity: 0;
      position: absolute;
      top: -2px;
      left: -2px;
      transition: opacity .25s ease-in-out;
      z-index: 1;
    }

    &:after {
      content: '';
      width: calc(100% + 10px);
      height: calc(100% + 8px);
      background: $impact-orange-light;
      border-top-right-radius: 6.9vw;
      display: inline-block;
      opacity: 0;
      position: absolute;
      top: -4px;
      left: -4px;
      transition: opacity .25s ease-in-out;
      z-index: 0;
    }

    &:hover {
      span {
        background: $impact-orange-light;
        color: $color-black;
      }
    }

    &:focus {
      span {
        background: $impact-blue;
      }

      &:before,
      &:after {
        opacity: 1;
      }
    }
  }

  &.active {
    a, p {
      span {
        background: $impact-blue;
      }

      &:before,
      &:after {
        opacity: 1;
      }
    }
  }
}
