//
// Name:            Navigation
//
// Description:     Contains all navigation styles
//
// ========================================================================
// Component: Navigation
// ========================================================================
#topnav {
  display: flex;
  margin-left: auto;
  margin-right: 0;
  position: relative;

  .topnav-inner {
    position: relative;
  }

  #menu-close {
    min-width: 0;
    position: absolute;
    top: 11.9vw;
    right: 6.25vw;
  }

  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -ms-flex-align: center;
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      vertical-align: middle;
      margin: auto 3.1vw auto 0;

      &:last-child {
        margin-right: 0;
      }

      a {
        border: 2px solid transparent;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 2px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;
      }

      &:not(.current-menu-item) {
        a {
          &:not(.button) {
            &:before {
              content: '';
              width: 3.4vw;
              height: 3.4vw;
              border: 2px solid transparent;
              border-radius: 50%;
              opacity: 0;
              position: absolute;
              bottom: calc(100% + 20px);
              left: 50%;
              transform: translateX(-50%);
              transition: opacity .25s ease-in-out;
              z-index: -1;
            }

            &:hover,
            &:focus {
              &:before {
                opacity: 1;
              }
            }
          }
        }
      }

      &.current-menu-item {
        a {
          &:after {
            content: '';
            width: 4.5vw;
            max-width: 100%;
            height: 7.3vw;
            background: $impact-orange-dark;
            border-bottom-right-radius: 4.5vw;
            display: inline-block;
            position: absolute;
            bottom: calc(100% + 20px);
            left: 0;
            z-index: -1;
          }

          &:hover {
            &:before {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}

body {
  &.dark-bg {
    #topnav ul li {
      a {
        color: $impact-beige;

        &:hover {
          color: $impact-orange-light;
        }

        &:focus {
          border-color: $impact-orange-light;
          color: $impact-beige;
        }

        &.button {
          color: $color-black;
        }

        &:not(.button) {
          &:before {
            border-color: $impact-peach;
          }
        }
      }
    }
  }

  &.light-bg {
    #topnav ul li {
      a {
        color: $color-black;

        &:hover {
          color: $impact-blue;
        }

        &:focus {
          border-color: $impact-blue;
          color: $color-black;
        }

        &.button {
          color: $impact-beige;
        }

        &:not(.button) {
          &:before {
            border-color: $color-black;
          }
        }
      }
    }
  }
}

@media (max-width: 1224px) {
  #topnav {
    ul {
      li {
        margin-right: 2.4vw;
      }
    }
  }
}

@media (max-width: 1024px) {
  #topnav {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(100%);
    transition: transform .25s ease-in-out;
    z-index: 1;

    &.show {
      transform: none;
    }

    .topnav-inner {
      padding: calc(8.9vw + 60px) 0;
    }

    ul {
      flex-direction: column;

      li {
        margin-bottom: 20px;
        margin-right: 0;

        a {
          font-size: 28px;
          line-height: 42px;

          &.button {
            font-size: 16px;
            letter-spacing: 1.75px;
            line-height: 28px;
          }

          &:not(.button) {
            &:before,
            &:after {
              display: none;
            }
          }
        }
      }
    }

    #menu-close {
      top: 8.9vw;
      right: 5vw;
    }
  }

  body.dark-bg {
    #topnav {
      background: $color-black;
    }
  }

  body.light-bg {
    #topnav {
      background: $impact-beige;
    }
  }
}

@media (max-width: 581px) {
  #topnav {
    .topnav-inner {
      padding: 100px 7.7vw;
    }

    #menu-close {
      width: auto;
      padding: 5.5px 10px;
    }

    ul {
      li {
        width: 100%;
        display: block;
        text-align: center;

        a {
          &.button {
            padding: 12px 30px;
          }
        }
      }
    }
  }
}
