#know-your-own-bone {
  padding: 0 10.3vw 8.3vw;

  h2 {
    max-width: 380px;
    margin-bottom: 60px;
  }

  .col-xs-6 {
    position: relative;

    &:first-child {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-right: 6vw;
    }

    &:last-child {
      padding-left: 14.5vw;
    }
  }

  h3 {
    margin-bottom: 48px;
  }

  .button {
    margin-top: 78px;
    margin-right: auto;
  }

  .pinwheel-2 {
    width: 42px;
    height: 42px;
    position: absolute;
    top: 0;
    left: 14.5vw;
    transform: translateY(calc(-100% - 31px));
  }
}

body.dark-bg {
  #know-your-own-bone {
    h3 {
      color: $impact-peach;
    }

    .pinwheel-2 {
      background: url('../images/pinwheel-2.svg') no-repeat;
      background-size: contain;
    }
  }
}

body.light-bg {
  #know-your-own-bone {
    h3 {
      color: $impact-blue-dark;
    }

    .pinwheel-2 {
      background: url('../images/pinwheel-2-orange.svg') no-repeat;
      background-size: contain;
    }
  }
}

@media (max-width: 1024px) {
  #know-your-own-bone .col-xs-6:last-child {
    padding-left: 8vw;
  }

  #know-your-own-bone .pinwheel-2 {
    left: 8vw;
  }
}

@media (max-width: 768px) {
  #know-your-own-bone h2, #know-your-own-bone h2 {
    max-width: 300px;
  }

  #know-your-own-bone .col-xs-6:last-child, #know-your-own-bone .col-xs-6:last-child {
    padding-left: 0;
  }

  #know-your-own-bone .pinwheel-2 {
    left: 0;
  }
}

@media (max-width: 581px) {
  #know-your-own-bone .col-xs-6:first-child, #know-your-own-bone .col-xs-6 {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }

  #know-your-own-bone .col-xs-6:first-child, #know-your-own-bone .col-xs-6:first-child {
    padding-right: 0;
  }

  #know-your-own-bone h2, #know-your-own-bone h2 {
    margin-bottom: 30px;
  }

  #know-your-own-bone .button, #know-your-own-bone .button {
    margin-top: 30px;
  }

  #know-your-own-bone .col-xs-6:last-child, #know-your-own-bone .col-xs-6:last-child {
    margin-top: 30px;
  }

  #know-your-own-bone .pinwheel-2, #know-your-own-bone .pinwheel-2 {
    width: 70px;
    height: 70px;
    margin-bottom: 28px;
    position: static;
    transform: none;
  }

  #know-your-own-bone h3, #know-your-own-bone h3 {
    font-size: 28px;
    line-height: 40px;
  }
}
