//
// Name:            Fonts
//
// Description:     Contains all fonts
//
// ========================================================================
// Component: Fonts
// ========================================================================
@font-face {
  font-family: 'DMSans';
  src: url('../fonts/DMSans-Regular.woff2') format('woff2'), url('../fonts/DMSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DMSans';
  src: url('../fonts/DMSans-RegularItalic.woff2') format('woff2'), url('../fonts/DMSans-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DMSans';
  src: url('../fonts/DMSans-Medium.woff2') format('woff2'), url('../fonts/DMSans-Medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'DMSans';
  src: url('../fonts/DMSans-MediumItalic.woff2') format('woff2'), url('../fonts/DMSans-MediumItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'DMSans';
  src: url('../fonts/DMSans-Bold.woff2') format('woff2'), url('../fonts/DMSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DMSans';
  src: url('../fonts/DMSans-BoldItalic.woff2') format('woff2'), url('../fonts/DMSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}