//
// Component:       Variables
// Description:     Defines all color and style related values as variables
//                  to allow easy customization for the most common cases.
//
// ========================================================================
// ========================================================================
// Component: Variables
// ========================================================================
// Colors
$color-white: #FFFFFF;
$color-black: #000000;
$impact-beige: #FFF4E4;
$impact-blue: #3062D5;
$impact-blue-dark: #1C4F77;
$impact-orange-light: #FB9C04;
$impact-orange-dark: #FF6600;
$impact-peach: #FEC0AA;
