<footer class="footer">
    <div class="footer-row">
        <div class="logo">
            <a href="/home.html">
                <p>Impacts Experience</p>
                <img src="../images/logo-beige.svg" alt="Impacts Logo" class="dark-bg">
                <img src="../images/logo-black.svg" alt="Impacts Logo" class="light-bg">
            </a>
        </div>
        <a href="/contact.html" class="button mobile-hidden">
            <span>Get In Touch</span>
        </a>
    </div>
    <ul>
        <li><a href="/" class="text-link">Sitemap</a></li>
        <li><a href="general.html" class="text-link">Privacy Policy</a></li>
        <li><a href="/404.html" class="text-link">Terms of Use</a></li>
        <li class="mobile-only"><a href="/contact.html" class="text-link">Contact</a></li>
    </ul>
</footer>